[2019-01-04 06:04] andyzhangx opened #1 "[warm up] write a few unit tests"
As a warm up, could you(@Masquerade0097 ) write a few unit tests first in this project:
`getFileShareInfo`, `getStorageAccount` under https://github.com/andyzhangx/azurefile-csi-driver/blob/master/pkg/azurefile/azurefile.go

You could refer to https://github.com/andyzhangx/azurefile-csi-driver/blob/master/pkg/azurefile/azurefile_test.go#L25-L67

Here is the development guide:
https://github.com/an

[2019-01-11 03:42] #1 closed

[2019-02-15 13:56] andyzhangx opened #18 "[feature] Support snapshot & restore"
https://kubernetes-csi.github.io/docs/snapshot-restore-feature.html#snapshot--restore-feature

[2019-02-17 12:19] andyzhangx opened #19 "[feature] add mountOptions support"
Original built-in storage class has `mountOptions`, we also need to support that

[code]

[2019-02-17 12:30] andyzhangx commented on #18
needs to figure out where is the go sdk of azure file snapshot first: https://github.com/Azure/azure-sdk-for-go/issues/4093

[2019-02-18 04:10] andyzhangx opened #21 "[management] change Issue and PR template"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like in detail**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consi

[2019-02-18 04:25] #21 closed

[2019-02-20 12:16] andyzhangx opened #24 "[feature] make azure file csi driver run on Windows"
**Is your feature request related to a problem? Please describe.**

Currently CSI driver is linux based, cannot run on Windows. The main difficulty is design difference between Linux and Windows, all devices are files in Linux while it's not true for Windows.
Here is a issue link in moby talking about this issue: https://github.com/moby/moby/issues/38479

**Describe the solution you'd like in deta

[2019-02-21 02:27] andyzhangx commented on #18
here is the azure file snapshot example:
https://github.com/Azure/azure-storage-file-go/blob/d93e19c84c2af7958331fb3ec8fd04eb0d76a25e/azfile/zt_examples_test.go#L521-L602

[2019-02-22 05:15] andyzhangx opened #25 "enable sanity test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-02-24 02:06] #25 closed

[2019-02-24 02:08] andyzhangx opened #27 "fix sanity test failures"
**What happened**:

[code]

following issue has been fixed:
[code]
**What you expected to happen**:

**How to reproduce it**:
run sanity test: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/test/sanity

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `unam

[2019-02-24 13:19] andyzhangx opened #28 "enhance: adds csi liveness check for azure csi driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

cc @ashishranjan738

[2019-02-24 13:34] andyzhangx opened #29 "[code refactor] switch glog to klog"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-02-26 14:13] andyzhangx opened #32 "Create Helm chart for driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-02-27 06:35] #29 closed

[2019-02-27 06:36] #32 closed

[2019-03-10 12:42] andyzhangx opened #36 "check whether this driver could run on a RBAC enabled k8s cluster"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-03-10 12:43] andyzhangx commented on #36
/assign @ashishranjan738

[2019-03-10 12:44] andyzhangx opened #37 "Add boilerplate checking"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes/cloud-provider-azure/pull/106

**Describe alternatives you've considered**

**Additional context**

[2019-03-10 12:45] andyzhangx opened #38 "reduce vendor size"
**Is your feature request related to a problem?/Why is this needed**

Currently this driver code only uses https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure and some k8s util lib, while the `vendor` directory has whole k8s library, need to update go dep config to reduce vendor size

**Describe the solution you'd like in d

[2019-03-17 12:17] andyzhangx commented on #38
/assign @ashishranjan738

[2019-03-17 14:54] andyzhangx opened #39 "add "dep ensure" check in CI test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

/assign @ashishranjan738

[2019-03-25 07:20] andyzhangx opened #41 "set e2e test CI"
**Is your feature request related to a problem?/Why is this needed**

Setting environment variables from repository settings
$ export aadClientId=[secure]
$ export aadClientSecret=[secure]
$ export tenantId=[secure]
$ export subscriptionId=[secure]
$ export resourceGroup=[secure]
$ export nodeid=[secure]

**Describe the solution you'd like in detail**

suppose the testing environment is already re

[2019-03-25 07:46] #38 closed

[2019-03-25 07:46] #39 closed

[2019-03-26 05:24] andyzhangx opened #42 "change integration test to use go"
**Is your feature request related to a problem?/Why is this needed**

Currently the [integration test](https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/test/integration) is using bash, we should switch to use golang

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

/assign @ashishranjan738

[2019-03-26 05:26] andyzhangx opened #43 "support volume resize in k8s v1.14"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

CSI support is in alpha in 1.14 release and requires enabling `ExpandCSIVolumes` feature gate.
https://github.com/kubernetes/website/pull/12928
https://github.com/kubernetes/enhancements/issues/556#issuecomment-468760297

https://github.com/container-storage-interface/spec/blob/mas

[2019-03-26 05:27] #28 closed

[2019-03-26 05:51] andyzhangx opened #44 "switch azure cloud provider to 1.14"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

/assign

[2019-03-26 05:56] andyzhangx opened #45 "Add boilerplate checking"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes/cloud-provider-azure/pull/106

**Describe alternatives you've considered**

**Additional context**

[2019-04-03 13:23] #41 closed

[2019-04-08 03:04] andyzhangx opened #53 "Switch glide to go modules for dependency management"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes/cloud-provider-azure/pull/142

**Describe alternatives you've considered**

**Additional context**

[2019-04-08 03:20] ashishranjan738 commented on #53
@andyzhangx i would like to work on this

[2019-04-08 03:21] andyzhangx commented on #53
/assign @ashishranjan738 thanks.

[2019-04-12 07:27] andyzhangx commented on #44
it's already done

[2019-04-12 07:27] #44 closed

[2019-04-14 10:16] #45 closed

[2019-04-14 14:13] andyzhangx commented on #27
I found there are still 6 failures:
[code]

[2019-04-17 04:40] #53 closed

[2019-04-17 05:22] andyzhangx opened #57 "volumeid in azurefile driver looks strange"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

The volumeid in azurefile is composed of storageAccount#filesharename, it looks strange, need to figure out how to use a normal format.

[code]

**Describe alternatives you've considered**

**Additional context**

/assign

[2019-04-21 04:18] andyzhangx opened #59 "support using existing azure file share in storage class"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

scenario is like this:
https://github.com/csi-driver/blobfuse-csi-driver#option1-use-existing-credentials-in-k8s-cluster

Need to add a new parameter(`shareName`) in azure file storage class, and create an azure file if it does not exist:

https://github.com/kubernetes-sigs/azurefi

[2019-04-21 04:21] ashishranjan738 commented on #59
I think i can take this up

[2019-04-21 04:33] andyzhangx commented on #59
it's not a urgent feature, let me change the interface in azure cloud provider first since currently it still uses `func (s *Share) Create(options *FileRequestOptions)`  other than `func (s *Share) CreateIfNotExists(options *FileRequestOptions)` func

[2019-04-21 09:59] andyzhangx opened #60 "secret value should not be exposed in logs"
**What happened**:
Currently secret value would be exposed in logs, while it should not

[code]

We could disable this logging easily, while I would like to filter out only the `secret` value, for the other request info, it's useful for debugging:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/224a7d36921cc7ce354cef12c9e8ae791cc1371a/pkg/csi-common/utils.go#L107

**What you expected

[2019-04-22 19:59] lenisha commented on #59
we have a scenario to mount azure files using the cluster identity or secrets coming from Vault

[2019-04-24 03:40] andyzhangx opened #62 "integrate e2e test with kubernetes/test-infra"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs

WIP PR: https://github.com/kubernetes/test-infra/pull/

[2019-04-24 03:48] andyzhangx commented on #62
also cc @feiskyer who is the expert of this domain.

[2019-05-10 16:08] tall49er commented on #18
Can I working on it?

[2019-05-11 13:44] andyzhangx commented on #18
@tall49er sure, thanks.

[2019-05-13 03:20] #60 closed

[2019-05-13 03:49] andyzhangx commented on #60
@11janci thanks for the contribution, can you make the same PR for https://github.com/kubernetes-sigs/azuredisk-csi-driver, thanks

[2019-05-13 04:05] 11janci commented on #60
thanks, sure thing, will do

[2019-05-24 15:15] andyzhangx commented on #59
The PR(https://github.com/kubernetes/kubernetes/pull/77042) is already merged in v1.14.2, upgrade to use  that lib and a few code change could make this feature work.

[2019-06-09 08:19] andyzhangx commented on #36
just verified that this driver works well in a RBAC enabled cluster

[2019-06-09 08:19] #36 closed

[2019-06-11 08:13] andyzhangx opened #66 "add Pod Identity support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add support for [Pod Identity](https://github.com/Azure/aad-pod-identity) to enable finer grain scope of identity as an alternative to using the cluster’s identity.  We do see cases where Azure resources are closely associated with the cluster.  But we also see customers partitioni

[2019-06-11 08:33] andyzhangx opened #67 "remove azure.json dependency in node server"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently driver depends on azure.json to get storage account key, need to remove this dependency

https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/938e19f4df57ace8448463c6d06e8f67b791d0f8/pkg/azurefile/nodeserver.go#L93

**Describe alternatives you've considered**

**A

[2019-06-11 14:43] andyzhangx commented on #66
marked as long-term since in current stage, we don't want to depend on AAD pod identity component since AAD pod identity also depends on cluster identity, it would makes the deployment very complex in current stage.

[2019-06-18 08:48] andyzhangx commented on #19
/remove-lifecycle stale

[2019-06-25 17:39] ashishranjan738 commented on #43
/remove-lifecycle stale

[2019-06-27 02:39] #59 closed

[2019-06-27 04:28] ZeroMagic commented on #27
There are still 3 failures.
[code]

[2019-07-01 05:51] andyzhangx commented on #57
the correct way of naming `volumeid` is not reasonable, it now contains storage account info in the volumeid, I will change to use k8s secrect instead in this v0.3.0 version, keep tuned.

cc @ZeroMagic

[2019-07-01 07:12] andyzhangx opened #74 "Make sure this driver works on OpenShift"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

This driver requires k8s v1.13.x, so need to make sure OpenShift supports v1.13.x first.

**Describe alternatives you've considered**

**Additional context**

[2019-07-01 07:22] ashishranjan738 commented on #74
ahh i think openshift 4.1 supports 1.13.x as i am having a dev cluster of openshift. output ```[aranjan@localhost:~]$ oc get nodes
NAME                           STATUS   ROLES    AGE   VERSION
ip-10-0-136-255.ec2.internal   Ready    master   13h   v1.13.4+cb455d664
ip-10-0-137-68.ec2.internal    Ready    worker   13h   v1.13.4+cb455d664
ip-10-0-146-134.ec2.internal   Ready    worker   13h   v1.13

[2019-07-01 08:38] andyzhangx commented on #67
Update:
Need to write the storage account key into a k8s secret, here the blocking issue how to get kube client inside CSI driver, it's easy in built-in driver by `volume.VolumeHost.GetKubeClient()`

[2019-07-02 03:54] andyzhangx commented on #27
Update: there are 4 sanity test failures originally:
[code]

[2019-07-02 08:20] andyzhangx commented on #27
3 failures left:
[code]

[2019-07-02 13:30] andyzhangx commented on #27
[code]

[2019-07-03 09:10] andyzhangx commented on #27
[code]

[2019-07-03 10:06] #27 closed

[2019-07-10 05:57] ashishranjan738 commented on #67
I would like to work on this @andyzhangx

[2019-07-11 05:49] andyzhangx commented on #67
I am still investigating this issue, now it depends on CSI driver to get a kubeconfig which may be not a good idea now:
https://github.com/kubernetes-csi/cluster-driver-registrar/blob/9f072c9b88e27497ecf5c062f3b9dc55121694ce/cmd/csi-cluster-driver-registrar/main.go#L49

[2019-07-11 06:59] ashishranjan738 commented on #67
ok

[2019-07-14 02:20] andyzhangx opened #91 "Enable more e2e tests"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently there is only one e2e test on https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/test/e2e, need to write more e2e tests into https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/test/e2e/testsuites

**Describe alternatives you've considered

[2019-07-16 07:25] andyzhangx opened #94 "Create the first azure file may cost 4min"
**What happened**:
If create an azure file on a new k8s cluster without a storage account, create the first azure file would cost a lot more time since it would create an azure storage account first and then create azure file, below are the error logs:

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: v0

[2019-07-18 08:30] #91 closed

[2019-07-30 02:35] ZeroMagic commented on #37
Since the pr #55 was merged, close the issue.

[2019-07-30 02:35] #37 closed

[2019-08-05 12:42] andyzhangx opened #103 "add NodeGetVolumeStats support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/container-storage-interface/spec/blob/master/spec.md#nodegetvolumestats

**Describe alternatives you've considered**

**Additional context**

[2019-08-07 01:59] andyzhangx opened #104 "update outdated helm installation doc"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

The deployment scripts under https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/charts/azurefile-csi-driver/templates is outdated, now all deployment are using master/agent mode, need to update

[code]

**Describe alternatives you've considered**

**Additional cont

[2019-08-07 02:43] andyzhangx opened #105 "Add node selector for linux node only"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Since this driver is not working no windows node now, need to add node selector for the following deployment file:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/csi-azurefile-controller.yaml
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/m

[2019-08-07 03:54] andyzhangx opened #106 "Set priority class to system critical"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add priorityClassName: system-cluster-critical and priorityClassName: system-node-critical to controller and node YAMLs respectively

Make the driver high priority and less likely to be evicted

**Describe alternatives you've considered**

**Additional context**

[2019-08-12 06:04] andyzhangx commented on #104
/assign @ZeroMagic

[2019-08-12 06:05] andyzhangx commented on #105
it's already done

[2019-08-12 06:05] #105 closed

[2019-08-12 06:05] andyzhangx commented on #106
/assign @ZeroMagic

[2019-08-15 01:20] #106 closed

[2019-08-17 07:56] #104 closed

[2019-08-23 07:12] #42 closed

[2019-09-01 03:29] andyzhangx commented on #24
you could refer to https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190714-windows-csi-support.md
cc @kkmsft

[2019-09-06 08:19] feiskyer commented on #24
/cc @ritazh for Windows CSI support

[2019-09-07 15:19] andyzhangx opened #115 "CSI migration from in-tree driver to CSI driver go beta"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

design doc: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md

depends on cs-attacher v3.0.0: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/430

depends on csi-provisioner fix: https://github.com/kubernetes/kuber

[2019-09-09 06:18] ZeroMagic commented on #18
Wait for Storage Team to release the new feature, clone snapshot (create new file share from snapshot).

[2019-09-09 07:12] andyzhangx commented on #62
cc @chewong

[2019-09-16 03:12] andyzhangx opened #119 "handle ShareBeingDeleted error when DeleteVolume"
**What happened**:

We should handle below `ShareBeingDeleted` in DeleteVolume function, need to retry:

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: v0.3.0
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

/assign

[2019-09-16 03:14] andyzhangx commented on #119
there is also similar `ContainerBeingDeleting` issue in blobfuse driver, also need to fix.

[2019-10-01 19:22] chewong commented on #62
/assign

[2019-10-01 19:23] chewong commented on #62
/remove-lifecycle rotten

[2019-10-07 16:47] #62 closed

[2019-10-16 01:36] #43 closed

[2019-11-27 08:45] andyzhangx opened #131 "add Pod Identity support"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

add support for [Pod Identity](https://github.com/Azure/aad-pod-identity) to enable finer grain scope of identity as an alternative to using the cluster’s identity.  We do see cases where Azure resources are closely associated with the cluster.  But we also see customers partitioning

[2019-11-27 12:24] andyzhangx opened #132 "pod inline volume support"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html
https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190122-csi-inline-volumes.md

**Describe alternatives you've considered**

**Additional context**

The minimum supported k8s version is 1.15

[2019-11-27 12:54] andyzhangx opened #133 "Patch sidecars for CVE-2019-11255"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

check kubernetes/kubernetes#85233 for details

**Describe alternatives you've considered**

**Additional context**

[2019-11-27 13:03] andyzhangx opened #134 "resize feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

resize feature is not completed, there are a few work items:
 - add `external-resizer` in deployment
 - add doc for resize feature
 - add e2e test

**Describe alternatives you've considered**

**Additional context**

[2019-11-28 08:05] #57 closed

[2019-11-28 09:06] #74 closed

[2019-11-30 07:18] andyzhangx opened #136 "Restore from SMB file share snapshot feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently azure file don't have a restore from snapshot SDK, need to implement that when it's available.
als see ref: https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/issues/13#issuecomment-528861659

https://docs.microsoft.com/en-us/azure/backup/restore-afs
https:

[2019-12-01 13:58] andyzhangx opened #137 "volume cloning feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Reference: https://kubernetes-csi.github.io/docs/volume-cloning.html

Need to check whether azure file supports create an azure file from existing azure file(cloning)
azure disk PR for reference:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/196

**Describe alternati

[2019-12-01 14:16] andyzhangx commented on #19
already supported: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/storageclass-azurefile-csi-mountoptions.yaml

[2019-12-01 14:16] #19 closed

[2019-12-01 14:17] andyzhangx opened #138 "add mountOptions e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

including
 - positive tests
 - negative tests (with wrong mountOptions provided, it should fail) (done)
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/storageclass-azurefile-csi-mountoptions.yaml

negative tests are done:
https://github.com/kuber

[2019-12-01 14:24] andyzhangx opened #139 "Azure file driver test cases summary"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

## unit tests
tests to add:

note:
since azure disk csi driver and in-tree driver use the same azure cloud provider lib, unit tests could be applied to both csi and in-tree drivers.

## e2e tests
Currently there are no e2e tests on in-tree azure disk & file drivers, we could levera

[2019-12-01 14:27] andyzhangx opened #140 "add more e2e test cases"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add following e2e cases:
 - should create multiple PV objects, bind to PVCs and attach all to a single pod
refer to  https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/13424bda9b3137c06e10a9fb0eb75b152b638103/tests/e2e/dynamic_provisioning.go#L138

**Describe alternatives y

[2019-12-05 12:05] andyzhangx commented on #24
@kkmsft any update on azure file driver? I see you already did some work on azure disk, could you port those code to azure file driver as well, thanks.

[2019-12-10 14:47] andyzhangx opened #142 "Add windows build test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Add windows build test
[code]

could refer to https://github.com/kubernetes/test-infra/blob/bc272268da64b4aa08a26fa998963645f7746c7b/config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml#L28-L46

**Describe alternatives you've considered**

**Additional co

[2019-12-11 10:36] andyzhangx opened #143 "add static provision e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/e2e_usage.md#option2-azurefile-static-provisioninguse-an-existing-azure-file-share

**Describe alternatives you've considered**

**Additional context**

[2019-12-13 08:57] #94 closed

[2019-12-25 02:17] levimm commented on #142
/assign
https://github.com/kubernetes/test-infra/pull/15687

[2019-12-27 04:09] andyzhangx commented on #142
it's done

[2019-12-27 04:09] #142 closed

[2019-12-27 09:12] bcho commented on #138
I am working on this issue cc @andyzhangx

/assign @bcho

[2020-01-14 13:44] andyzhangx commented on #133
fixed by https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/153

[2020-01-14 13:44] #133 closed

[2020-01-15 14:26] andyzhangx opened #154 "add restart driver e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

1. mount a pod
2. restart driver daemonset
3. make sure original pod could still access volume

**Describe alternatives you've considered**

**Additional context**

[2020-01-21 16:21] aelmanaa opened #156 "Not able to dynamically provision a share file from a provided storage class"
Hello,

I mainly followed this link:
https://kubernetes.io/docs/concepts/storage/storage-classes/#azure-file

In order to create a azure-file storage class. We wanted to mention a specific storageaccount in order to prevent AKS from creating a new one.
In attachment (filesc - Copy.txt) , you will find the definition of the storage class that I used (I removed the values of our storage account name

[2020-01-22 03:30] andyzhangx commented on #156
that's for dynamic provisioning, I see you want to use static provisoining(use existing file share), you could refer to https://docs.microsoft.com/en-us/azure/aks/azure-files-volume

[2020-01-22 08:41] aelmanaa commented on #156
hello @andyzhangx

I want dynamic provisioning :) However, I want AKS to dynamically create share files in a pre-defined shared account.

[2020-01-22 08:53] andyzhangx commented on #156
@aelmanaa could you try this azure file storage class example: https://github.com/andyzhangx/demo/blob/master/pv/storageclass-azurefile-sharename.yaml

[2020-01-22 10:58] aelmanaa commented on #156
thanks.

where do you put the secret holding the storage account access key?

[2020-01-22 11:04] andyzhangx commented on #156
if your storage account is in the same resource group as aks cluster, and when you use that storage class, it would get storage account key automatically, you don't need to use secret in azure file storage class.

[2020-01-22 11:09] aelmanaa commented on #156
no it's not. we decided to put our AKS dashboards, log analytics and storage account in a different resource group (in order to keep everything even when you redeploy the cluster)

[2020-01-22 11:14] andyzhangx commented on #156
if your service principle in aks cluster has access to that storage account, it should also work, no need to use secret

[2020-01-27 12:45] andyzhangx commented on #156
hi, is it resolved?

[2020-01-27 13:07] aelmanaa commented on #156
Hello Andy,

sorry I was busy on other tasks. I'll test and get back to you before the end of the week

[2020-01-28 11:31] aelmanaa commented on #156
Hello @andyzhangx

I tested. it didn't work at the beginning because of this issue
https://github.com/kubernetes/kubernetes/pull/85475

so I allowed access to all network just for testing purpose and noticed that it worked. I think we will stick with the workaround for now (creating the volumes statically) until that the fix is available in a GA AKS version. In fact, we prefer not to open access o

[2020-01-28 12:04] andyzhangx commented on #156
hi, could you try the master version, I think master version(on Dec 3, 2019) already fixed that network restriction issue:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/87b0e167a1d3cf758d87f05aa22f9ed25d5d91c3/vendor/k8s.io/legacy-cloud-providers/azure/azure_storageaccount.go#L25

Pls verify it by following: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/in

[2020-01-28 12:06] andyzhangx commented on #156
Btw, by trying this, you need to delete existing storage account in MC_ resource group, otherwise it will search for a matching storage account, and then use that storage account

[2020-01-28 13:23] aelmanaa commented on #156
thanks @andyzhangx
just a question before installing:  If I install "https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-master.md" then how will the controller know that it should use the installed one, rather than the "official" version and which is referenced in the storage class (provisioner: kubernetes.io/azure-file) ?

thanks

[2020-01-28 13:32] andyzhangx commented on #156
it depends on which storage class you are using, if the provisioner is `kubernetes.io/azure-file`, then it would use in-tree azure file driver, if the provisioner is `file.csi.azure.com`, then it would use azure file csi driver.

[2020-01-28 14:05] aelmanaa commented on #156
Hi @andyzhangx

so I tested with "file.csi.azure.com" instead of "kubernetes.io/azure-file" and I've confirmed that I could create a file storage even though the access is limited to a specific subnet. which is good thanks. However, I've got few questions:

- I still noticed that the activity logs of my storage account don't mention that a process created the file storage. Any reason why the Activ

[2020-01-28 14:57] andyzhangx commented on #156
not sure, azure file creation activity may not exist in Activity logs

in-tree and csi drivers share the same azure cloud provider library, and in a certain time(this year), we will switch to use csi driver

Yes, it's officially supported by Microsoft

[2020-01-29 08:53] aelmanaa commented on #156
thanks @andyzhangx for your help. I'm closing the issue

[2020-01-29 08:53] #156 closed

[2020-02-06 08:26] #18 closed

[2020-02-14 08:57] andyzhangx opened #167 "add timeout for mount operation"
**What happened**:
There could be little possibility that mount operation would hang some times, need to add timeout(10m) for mount operation:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/bef6fed4f72926789c1923bf8e57aafb0deba5dd/pkg/azurefile/nodeserver.go#L195

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI D

[2020-02-25 02:44] #167 closed

[2020-02-25 13:57] ZeroMagic commented on #134
/remove-lifecycle stale

[2020-03-02 03:21] ZeroMagic commented on #137
/remove-lifecycle stale

[2020-03-02 03:22] ZeroMagic commented on #137
Related doc: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-planning#migration

[2020-03-03 08:45] #134 closed

[2020-03-04 22:58] kkmsft commented on #24
Yes, PR will be out this week. Testing the changes.

[2020-03-05 02:06] andyzhangx commented on #24
awesome

[2020-03-07 13:48] andyzhangx opened #181 "add UT for createDisk func"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add UT for createDisk func, at least negative cases

https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/ea75bfe4cdde8b419e27667a1f8e9c63f7f8afc9/pkg/azurefile/azurefile.go#L350-L373

**Describe alternatives you've considered**

**Additional context**

[2020-03-07 13:52] andyzhangx opened #182 "enable sanity test for vhd disk feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Current sanity test is mainly for azure file share driver, not for vhd disk feature, need to enable those sanity tests for vhd disk feature
https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/test/sanity

**Describe alternatives you've considered**

**Additional con

[2020-03-07 13:53] andyzhangx opened #183 "enable integration test for vhd disk feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Current integration test is mainly for azure file share driver, not for vhd disk feature, need to enable those integration tests for vhd disk feature
https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/test/integration

**Describe alternatives you've considered**

*

[2020-03-07 13:58] andyzhangx opened #184 "CreateVolume for vhd disk is not idempotent"
**What happened**:
Original `CreateVolume` func for azure file share is idempotent which is ensured by https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/891691622065282c017d5aeac540619899d35f33/pkg/azurefile/controllerserver.go#L123-L124

while CreateVolume for vhd disk is not idempotent:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/891691622065282c017d5aeac540619899d35f

[2020-03-08 01:59] andyzhangx opened #186 "GetStorageAccesskey failed due to StorageAccountIsNotProvisioned"
**What happened**:
got following error when create an azure file share with no storage account provided, need to retry on following code:

https://github.com/kubernetes/kubernetes/blob/672aa55ee4860a8ae497c0523bbaf4ab9ac169a0/staging/src/k8s.io/legacy-cloud-providers/azure/azure_storageaccount.go#L72-L74

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need t

[2020-03-08 03:21] andyzhangx opened #188 "Azure Files PV AuthorizationFailure when using advanced networking"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

PR(https://github.com/kubernetes/kubernetes/pull/85475) said it fixed the [Azure Files PV AuthorizationFailure when using advanced networking](https://github.com/kubernetes/kubernetes/issues/85354) issue on 1.18.0, actually it does not.

By creating an azure file share, it's using `g

[2020-03-11 10:39] #186 closed

[2020-03-12 06:47] andyzhangx opened #200 "throttling when creating 20 vhd disks at same time"
**What happened**:
throttling when creating 20 vhd disks at same time:

There are a few ways to mitigate this issue:
 - Sleep 10s when hit throttling, PR: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/199
 - optimize following `createDisk` func:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/737e781619def5bb8f947e36be7d70d87ac9630a/pkg/azurefile/controllerserver.go#L14

[2020-03-12 08:44] andyzhangx opened #201 "switch to use lease-file for vhd disk file locking"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

We use azure file metadata to do the vhd disk locking, while it won't work if one disk is used by multiple clusters(csi drivers):
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/6ef7cf783a86fd2652876ea45f9b0e6fba1cf019/pkg/azurefile/controllerserver.go#L313-L314

By us

[2020-03-12 08:45] andyzhangx opened #202 "validate volume capabilities according to volumeid type"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Should validate volume capabilities according to volumeid type:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/6ef7cf783a86fd2652876ea45f9b0e6fba1cf019/pkg/azurefile/controllerserver.go#L226-L227

**Describe alternatives you've considered**

**Additional context**

[2020-03-12 08:47] andyzhangx opened #203 "support ReadOnlyMany accessMode for vhd disk feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Current vhd disk feature is only ReadWriteOnce, need to figure out how to support ReadOnlyMany accessMode:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/6ef7cf783a86fd2652876ea45f9b0e6fba1cf019/pkg/azurefile/controllerserver.go#L284-L288

Question: how can we know if

[2020-03-12 09:22] andyzhangx opened #204 "add unit test for getAccountInfo func"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

need to write fakeDriver first
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/6ef7cf783a86fd2652876ea45f9b0e6fba1cf019/pkg/azurefile/azurefile.go#L367-L393

**Describe alternatives you've considered**

**Additional context**

[2020-03-16 02:49] andyzhangx commented on #200
/assign @ZeroMagic

[2020-03-16 02:52] andyzhangx commented on #184
should be idempotent since vhd disk file is now same as file share name:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/d4cc5c4f62b62ce5118dd354bc4d5032b26efb7b/pkg/azurefile/controllerserver.go#L143-L145

[2020-03-16 02:52] #184 closed

[2020-03-16 02:52] andyzhangx commented on #182
/assign @ZeroMagic

[2020-03-16 02:53] andyzhangx commented on #204
/assign @ZeroMagic

[2020-03-16 02:53] andyzhangx commented on #181
/assign @ZeroMagic

[2020-03-17 08:09] andyzhangx commented on #183
already added integration test

[2020-03-17 08:09] #183 closed

[2020-03-17 10:50] andyzhangx opened #209 "print output integration test result"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

this PR(https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/208) does not work

**Describe alternatives you've considered**

**Additional context**

[2020-03-17 10:54] andyzhangx opened #210 "vhd disk mount parameters tuning"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

smb mount parameters:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/162df829aa5f43094df59e1804a9cab0cac2b510/pkg/azurefile/nodeserver.go#L158

loop device mount parameters:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/162df829aa5f43094df59e1804a9cab0c

[2020-03-17 13:36] #182 closed

[2020-03-18 03:31] andyzhangx opened #211 "use a different file share name for vhd disk feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Every file share created by AKS has prefix “pvc-”, e.g. pvc-062196a6-6436-11ea-ab51-9efb888c0afb
for vhd disk, it could be `pvcd-062196a6-6436-11ea-ab51-9efb888c0afb`

**Describe alternatives you've considered**

**Additional context**

[2020-03-18 14:51] #202 closed

[2020-03-18 14:51] #203 closed

[2020-03-18 14:51] #211 closed

[2020-03-24 10:58] andyzhangx commented on #103
/remove-lifecycle stale
/assign @ZeroMagic

[2020-03-29 10:44] eliyahu77 opened #221 "documented about option volumeHandle"
Hi * ,

I wil glad to know what this option volumeHandle define and what can be the values of this parameters.
https://raw.githubusercontent.com/kubernetes-sigs/azurefile-csi-driver/master/deploy/example/pv-azurefile-csi.yaml

[2020-03-29 11:12] andyzhangx commented on #221
it's arbitrary volumeid, make sure it's a uniqe id

[2020-03-29 11:52] eliyahu77 opened #222 "Mount to sub folder"
Hi * ,
there is any option to mount to sub folder on the share ?
Option#2: Static Provisioning(use an existing azure file share)  without azure-secret
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/e2e_usage.md

BR Eliyahu

[2020-03-29 11:55] andyzhangx commented on #222
no, you need to mount file share first

[2020-03-29 11:55] #222 closed

[2020-03-29 11:55] #221 closed

[2020-03-29 11:57] eliyahu77 opened #223 "helm install fails customresource definition already exists"
Hi * ,
helm version: v2.14.3

this issues related  to  azurefile-csi-driver and azuredisk-csi-driver , when install the following charts
azuredisk v0.6.0
azurefile v.0.5.0
 I get the following  error "helm install fails customresource definition already exists"

[2020-03-29 12:01] andyzhangx commented on #223
Hi @eliyahu77
thanks for reporting issue, to unblock your deployment, could you try following command to install azure disk & azure file drivers? thanks.

[code]

[2020-03-29 12:01] andyzhangx commented on #223
/assign @ZeroMagic
could you take a look at helm install issue, thanks.

[2020-03-29 17:47] eliyahu77 commented on #223
HI  ,
there is option to add argument to the following  script install-driver-standalone.sh   to accept ,  "cloud_provider_file_path" , because development  of k8s  are create this file under name cloud_config , or other name

[2020-03-29 17:52] eliyahu77 opened #224 "use azure file with no secret and use mount to subfolder inside the share"
HI *,
Option 2
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/e2e_usage.md

the share is configure under SC , so if  I want to use same storagecalss but different  path  ,  there is option to use PVC with PV and then  it will be able to use the sub folder

if it possible it will be good  to have example for it .

[2020-03-29 17:53] eliyahu77 commented on #221
this is need to be just a random ID  or the volume ID from azure ?

[2020-03-30 01:33] andyzhangx commented on #221
just a random ID is ok

[2020-03-30 01:37] andyzhangx commented on #223
@eliyahu77 do you mean user could self-define `/etc/kubernetes/azure.json` path? Currently it's hard coded as following path:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/55189ff589b512d44445be98b1eb8e680542191a/deploy/csi-azurefile-controller.yaml#L166-L168

[2020-03-30 01:43] andyzhangx commented on #224
I think you want to use this subPath: https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath
This is a common k8s volume path usage, not related to azure file driver.

[2020-03-30 01:43] #224 closed

[2020-03-30 02:39] andyzhangx commented on #223
This PR(https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/225) is to support Setting Azure cloud provider from Kubernetes secrets:
Since `v1.15.0`, Azure cloud provider supports reading the cloud config from Kubernetes secrets. The secret is a serialized version of `azure.json` file with key cloud-config. The secret should be put in `kube-system` namespace and its name should be `azure-

[2020-03-30 04:40] ZeroMagic commented on #223
@eliyahu77  Could you give the k8s version and the full failed log? So that we can know the concrete failed CRDs.

[2020-03-30 08:17] eliyahu77 commented on #223
k8s:  v1.15.3
helm version: v2.14.3
azuredisk v0.6.0
azurefile v.0.5.0

[2020-03-30 08:22] eliyahu77 commented on #223
first i was install the azure disk , and after install azure file charts,

only whem I remove the follwing  files from "azurefile crd-csi-node-info.yaml,crd-csi-driver-registry.yaml"  chart   , only the the helm cli was update

[2020-03-30 08:26] ZeroMagic commented on #223
Got it. We do have some common crds in both of azuredisk and azurefile. I will fix it.
Thanks @eliyahu77

[2020-03-31 03:00] andyzhangx commented on #24
already supported: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/windows

[2020-03-31 03:00] #24 closed

[2020-03-31 03:01] andyzhangx commented on #67
/remove-lifecycle rotten

[2020-03-31 03:02] andyzhangx commented on #67
/remove-lifecycle stale

[2020-03-31 03:06] andyzhangx commented on #67
this issue is also related to https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/333
now when in-tree azure file driver creates an azure file volume, it would store azure storage account secret to a k8s secret naming as `azure-storage-account-{accountname}-secret`, we need to use same way as in-tree driver, related code is here:
https://github.com/kubernetes/kubernetes/blob/a256498ba4e

[2020-03-31 03:10] andyzhangx commented on #223
@ZeroMagic how do we fix it? renaming common crds?

[2020-04-05 02:32] andyzhangx commented on #67
Current plan is we are still going to store account key to k8s secret by default(same behavior as built-in driver), and there is a switch(`storeAccountKey`, by default `true`) to turn off this behavior, and user should make sure identity on agent node have read access to the storage account if turn off

[2020-04-14 02:43] andyzhangx commented on #210
In your setup an EXT4 file system is mounted for read-write (default) access. Thus data written to a loopback device may be cached on SMB client (mount option cache=strict is used) until the loopback device driver receives a command to flush caches. Once the latter happens all the cached data is sent to the server.

With barrier=0 option write requests may be sent to the server out-of-order thus t

[2020-04-14 02:43] andyzhangx commented on #210
/assign @ZeroMagic

[2020-04-14 09:32] andyzhangx commented on #188
/assign @ZeroMagic

[2020-04-14 15:07] aelmanaa opened #238 "AKS: Azure file csi & private endpoints"
**What happened**:

Hello,

I'm using version 0.5 of azure file csi. So far it has been working well for us.
However, we've noticed that the IP was resolving to a public one so we decided to use private endpoint. which means that  <storageaccountname>.privatelink.file.core.windows.net is resolving to a  private IP.
When mouting a PVC to a pod, we start getting 403 errors:
" error: could not get st

[2020-04-14 15:11] andyzhangx commented on #238
we don't support `accountname.privatelink.file.core.windows.net` now, currently we have hard coded the address as `accountname.file.core.windows.net`

[2020-04-14 15:21] aelmanaa commented on #238
wow ,, that's bit tricky for us :(
 In fact, we were planning to use  network policies within kubernetes. Hence, to control egress traffic of pods, we need to specify the destination IP.  without private endpoints, we are limited to public IPs (which can change).
Any idea when it would be supported?

Moreover , I don't understand why it's a problem if you hardcode accountname.file.core.windows.net

[2020-04-14 15:33] andyzhangx commented on #238
the error  `could not get storage key for storage account xxx: could not get storage key"`, actually happens in creating file share, could you make sure your storage account is in the node resource group? You could also specify resource group by:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/storageclass-azurefile-existing-share.yaml

[2020-04-14 15:46] aelmanaa commented on #238
@andyzhangx  It was working fine before I created the private endpoint.
there is also something really streange,  I see the following in the error log:

I don't know where this value  "abfa830c-dba3-4a07-bdca-eeed37d664a1" comes from.  we don't have any Service principal or user with this object id in our system

[2020-04-14 18:30] aelmanaa commented on #238
hello @andyzhangx

ok I've progressed in my investigations. We have 2 clusters running on 2 different k8s versions:

- Cluster1 runs with k8s 1.15.10

- Cluster2 runs with k8s 1.16.7

it works pefectly fine with Cluster1 but fails with Cluster2. I will upgrade the version of Cluster1 to 1.16.7 and see if it breaks or not. will keep you posted

[2020-04-15 02:40] #210 closed

[2020-04-15 08:08] andyzhangx opened #239 "support read cloud config from secret"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

port PR(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/352) to this driver:
/assign @ZeroMagic

**Describe alternatives you've considered**

**Additional context**

[2020-04-15 09:35] andyzhangx commented on #238
could you paste the full pod description with error events, thanks

[2020-04-15 11:12] aelmanaa commented on #238
I'm creating the volumes dynamically . Hence the error occurs during the creation of the PVC (pvc remains in pending state)

-  storage class
[code]

- PVC
[code]

- kubectl describe pvc aemdynpvc

[code]

- kubectl get events

[code]

As I told you , it was working fine before and the SP of the cluster has access to the storage account.

As I said, I tested the resolution from a pod and also from

[2020-04-15 11:18] andyzhangx commented on #238
the error is obvious:
[code]

you may check whether your sp has expired or have permission to that storage account:
[code]

[2020-04-15 14:41] aelmanaa commented on #238
@andyzhangx indeed sorry, error in the permission for one of the clusters.  thanks a lot for your help

[2020-04-15 14:41] #238 closed

[2020-04-16 07:12] #239 closed

[2020-04-16 07:27] andyzhangx commented on #115
now depends on this PR: https://github.com/kubernetes/kubernetes/pull/90162, this PR would cherry-pick to 1.17, 1.18, will azure file and disk migration would go beta in 1.19

[2020-04-17 06:33] andyzhangx commented on #188
we should use management sdk: https://github.com/Azure/azure-sdk-for-go/blob/master/services/storage/mgmt/2019-06-01/storage/fileshares.go
And https://github.com/Azure/azure-storage-file-go/blob/master/azfile/url_share.go#L19 is the Dataplane Files SDK

[2020-04-17 10:51] rfranzke commented on #115
Sounds great. Happy to help with opening the cherry-pick PRs after kubernetes/kubernetes#90162 is merged.

[2020-04-20 11:35] #67 closed

[2020-04-21 14:13] aelmanaa opened #242 "Support for label selectors"
Hello

do you support label selectors? I've just tried the following without success

pv

[code]

pvc

[code]

I get the following errors when checking the events

`no persistent volumes available for this claim and no storage class is set`

[2020-04-21 14:16] andyzhangx commented on #242
try this example: https://docs.openshift.com/container-platform/3.3/install_config/storage_examples/binding_pv_by_label.html#binding-pv-by-label-pv-with-labels

label selector should  be supported by k8s itself

[2020-04-21 14:25] aelmanaa commented on #242
what do you mean by "label selector should be supported by k8s itself" ?
it seems to be part of k8s specifications: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#selector

you suggest to change the driver? I'm opening an issue here because I prefer to use file.csi.azure.com (as It is completely integrated with Azure)

[2020-04-21 14:39] andyzhangx commented on #242
the above config works in my k8s 1.14.8 cluster:
[code]

[2020-04-21 14:46] aelmanaa commented on #242
it works because you specify the volumeName. As per my understanding, the label selectors are useful in case the administrator deploy several PVs with different labels.
Developers will then create a PVC and mention only the label.  A control loop will then find a matching PV and bind them together (as explained here: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#binding)

I suppo

[2020-04-21 14:48] andyzhangx commented on #242
I used your example, it works:
[code]

[2020-04-21 14:54] aelmanaa commented on #242
mmm really weird ,, indeed it works now. Sorry, must have done something wrong.

last question: is it mandatory to specify `storageClassName: ""` when working with static volumes?

[2020-04-21 15:11] andyzhangx commented on #242
actually I am not sure, I think you may try remove `storageClassName: ""`

[2020-04-21 15:23] aelmanaa commented on #242
pvc remains in "pending" and I get the error message "Failed to provision volume with StorageClass "default": invalid AccessModes [ReadWriteMany]: only AccessModes [ReadWriteOnce] are supported"

I guess it's ok. i'll make sure to specify `storageClassName: ""` for static PVCs.

By the way, congratulations for this project. I really like how it is integrated with AKS. Any plans to integrate it by

[2020-04-22 02:23] andyzhangx commented on #242
@aelmanaa thanks, the integration with AKS would happen around k8s v1.19 release. And around k8s 1.21, azure file & disk CSI driver would be the default drivers.

[2020-04-22 02:23] #242 closed

[2020-04-22 07:55] ZeroMagic commented on #143
/remove-lifecycle rotten
/assgin

[2020-04-22 12:44] ialidzhikov opened #246 "mcr.microsoft.com/k8s/csi/azurefile-csi:v0.6.0 reports v0.5.0 as version"
**What happened**:
Running --version on `mcr.microsoft.com/k8s/csi/azurefile-csi:v0.6.0` shows that the driver version is `v0.5.0` and the commit sha corresponds to `v0.5.0` tag.

**What you expected to happen**:
I would expect the reported version to be the same as in the docker image tag - `v0.6.0`.

**How to reproduce it**:
[code]

**Anything else we need to know?**:

**Environment**:
- CSI Dri

[2020-04-22 12:46] ialidzhikov commented on #246
/kind bug

[2020-04-22 12:57] ialidzhikov opened #247 "runtime error: invalid memory address or nil pointer dereference"
**What happened**:
`azurefile-csi-driver` panics on mount operation.

**What you expected to happen**:
I would expect to run the azurefile-csi-driver with `useInstanceMetadata: true` and have mount operations working.

**How to reproduce it**:
The Azure config is such as:
[code]

Logs of `azurefile-csi-driver`:
[code]

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: `mc

[2020-04-22 12:57] ialidzhikov commented on #247
/kind bug

[2020-04-22 13:11] andyzhangx commented on #246
sth wrong with the pipeline, fixed now:
[code]

[2020-04-22 13:11] #246 closed

[2020-04-22 13:24] andyzhangx commented on #247
in your logs, it said:
[code]

for controller component, need service principal or managed identity credential to access the cluster resource group,

[2020-04-22 13:29] andyzhangx commented on #247
check details about how to set azure credentials for this driver: https://github.com/kubernetes-sigs/azurefile-csi-driver#prerequisite

[2020-04-22 13:40] ialidzhikov commented on #247
`azuredisk-csi-driver` can successfully mount/unmount using `useInstanceMetadata: true` and not specifying `aadClientId` and `aadClientSecret `. So `azuredisk-csi-driver` is not requiring them, but `azurefile-csi-driver` is (at least this is what I get)?

/cc @rfranzke

[2020-04-22 13:46] andyzhangx commented on #247
I know what you meant, this PR fixed this issue: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/241, and on master branch, `azurefile-csi-driver` node pod could read from k8s serect to get account key, and don't need `aadClientId`, `aadClientSecret`, this change is only on master branch now.

[2020-04-22 13:58] ialidzhikov commented on #247
So using the read-from-secret approach over `AZURE_CREDENTIAL_FILE` env var, we should be able to run the `azurefile-csi-driver` only with `useInstanceMetadata: true`, right?

[2020-04-22 14:32] andyzhangx commented on #247
@ialidzhikov on current master branch, we supports
 - read azure credential from secret
 - azurefile-csi-driver node pod would read storage account key from k8s secret

These two features are not relevant, so you could still use your original config(use AZURE_CREDENTIAL_FILE` env var), and master branch should work with `useInstanceMetadata: true`.

[2020-04-22 16:52] ialidzhikov commented on #246
Thank you @andyzhangx !

[2020-04-22 17:13] ialidzhikov commented on #247
I am trying the current master in our setup, but I hit a RBAC related issue.

[code]

The azurefile-csi-driver Pod specifies `.spec.serviceAccount: csi-driver-node-file` and the RBAC is adapted such as:
[code]

[code]

For some reason it is trying to use ` "system:serviceaccount:foo:default"` and not the ServiceAccount specified in the Pod.

[2020-04-22 19:15] ialidzhikov commented on #247
Hm, actually the RBAC needs to be adapted for the azuredisk-csi-driver which is currently running out-of-cluster with `--nodeid=dummy`. Currently the azuredisk-csi-driver running on the node (and responsible for mount operations) is trying to access the storage account secret but this secret is not available for this cluster as the out-of-cluster azurefile-csi-driver (responsible for volume operat

[2020-04-22 23:03] andyzhangx commented on #247
/assign @ZeroMagic

[2020-04-23 01:57] andyzhangx commented on #247
@ialidzhikov since your azurefile-csi-driver controller and node pods are running on two different clusters, you cannot store secret in one cluster and pass it to another cluster. So in your scenario, `useInstanceMetadata: true` is not enough, node pod still needs identity(service principal or managed identity) to access that storage account.

that depends on whether the 2 azurefile-csi-driver con

[2020-04-23 14:09] #143 closed

[2020-04-24 04:06] ZeroMagic commented on #181
Need to add a mock file Client in the fake cloud firstly.
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go#L47

[2020-04-25 15:07] andyzhangx opened #253 "Handle concurrent operation of NodeUnstage with NodeStage and NodeUnpublish with NodePublish"
**What happened**:
we don't correctly handle concurrent processing of NodeUnstage call if a previous NodeStage was in-progress and same thing applies to NodeUnpublish call too.

The specs says, if an operation is in-progress for the volume then SP should return error code "10 ABORTED" - https://github.com/container-storage-interface/spec/blob/master/spec.md#timeouts

/kind bug

**What you expected

[2020-04-25 15:09] andyzhangx opened #254 "Support for tags parameter"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/236

/kind feature

**Describe alternatives you've considered**

**Additional context**

[2020-04-26 17:48] kushthedude commented on #181
Hi @andyzhangx, I would like to solve this issue. Can you provide additional details on Unit Tests that need to be added for the following functions?

[2020-04-26 18:26] ialidzhikov commented on #136
/remove-lifecycle rotten

[2020-04-26 18:28] ialidzhikov commented on #136
@andyzhangx, does it make sense to put `lifecycle/frozen` on this issue?

[2020-04-27 01:34] andyzhangx commented on #136
looks like there is still no snapshot restore API: https://docs.microsoft.com/en-us/rest/api/storageservices/snapshot-share

cc @RenaShahMSFT any progress on azure file snapshot API v2?

[2020-04-27 02:33] andyzhangx opened #256 "add UT for ensureMountPoint func"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/ea75bfe4cdde8b419e27667a1f8e9c63f7f8afc9/pkg/azurefile/nodeserver.go#L277-L310

**Additional context**

[2020-04-27 02:35] andyzhangx commented on #256
/assign @kushthedude
I think you could work on this first. Thanks.

[2020-04-27 03:14] andyzhangx opened #258 "improve unit test coverage"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

improve UT coverage including
 - controllerserver
 - nodeserver
 - identityserver
 - version

https://coveralls.io/github/kubernetes-sigs/azurefile-csi-driver?branch=master

![image](https://user-images.githubusercontent.com/4178417/80330808-d1785a00-8878-11ea-9529-eb7eb03cfa10.png

[2020-04-27 06:51] Dhiraj240 commented on #258
@andyzhangx Would like to work on it.

[2020-04-27 06:54] andyzhangx commented on #258
thanks, this is a big part, just update which part your are working on this issue when you have any progress.

[2020-04-27 06:57] andyzhangx commented on #258
and there are some easy parts, e.g. `version.go`, this issue is to improve the test code coverage, current ratio is awful, thanks.

[2020-04-27 11:00] kushthedude commented on #256
/assign

[2020-04-29 04:17] scivm opened #259 "azurefile Function not implemented message calling python function os.listxattr"
**What happened**:

Function not implemented error message when calling a python function os.listxattr

**What you expected to happen**:

function call to succeed as it does with original azurefile driver

**How to reproduce it**:

Use azurefile csi driver and calling python function gives error:

[code]

**Anything else we need to know?**:

[code]

**Environment**:
- CSI Driver version:  master
-

[2020-04-29 04:23] scivm opened #260 "release folders missing script rbac-csi-azurefile-node.yaml"
**What happened**:

The deploy folder has various releases such as v0.5.0 and v0.6.0.   Inside those folders, the script rbac-csi-azurefile-node.yaml is missing.  This causes installation to give errors.

**What you expected to happen**:

Installation to succeed

**How to reproduce it**:

install-driver.sh v0.6.0

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: and rele

[2020-04-29 08:30] andyzhangx opened #261 "support azure file based NFS service"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

the NFS go sdk is ready since v42.0.0:
https://github.com/Azure/azure-sdk-for-go/blob/4f14e3d53fba12172734d383af647730d06412d2/services/storage/mgmt/2019-06-01/storage/models.go#L185-L186

with “nfs” fsType, it would provision NFS volume

**Describe alternatives you've considered**

[2020-04-29 09:57] andyzhangx commented on #260
thanks for reporting, as a workaround, you could try this:
[code]

[2020-04-29 11:42] andyzhangx commented on #259
hi, do you know what's underlying `./Untitled1.ipynb`, it's more like azure file issue itself since azure file is not 100% unix file system compatible.

[2020-04-29 15:27] andyzhangx commented on #259
azure file does not support support xattrs now.

[2020-04-29 15:27] #259 closed

[2020-04-29 15:28] andyzhangx commented on #260
fixed by commit: https://github.com/kubernetes-sigs/azurefile-csi-driver/commit/33d43f3c8afefdeaeceef178aabf8923afdec519

[2020-04-29 15:28] #260 closed

[2020-04-29 15:56] #139 closed

[2020-05-03 06:42] kushthedude commented on #139
@andyzhangx I think this issue has not been addressed.

[2020-05-03 07:07] andyzhangx commented on #258
cc @kushthedude to take a look, thanks

[2020-05-07 06:05] Dhiraj240 opened #266 "Undefined DriverName in version.go"
I just found that there was undefined variable issue in ```version.go``` file.
Hence added it new PR

[2020-05-07 12:13] andyzhangx opened #267 "use distroless/static as base image"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to PR: https://github.com/kubernetes-sigs/cloud-provider-azure/pull/333

**Describe alternatives you've considered**

**Additional context**

[2020-05-08 09:23] andyzhangx opened #270 "volume created by built-in driver should work after migration"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Make sure following migration scenario works(migration happens in step 2 or 3):
 1. user create volume by built-in driver(`provisioner: kubernetes.io/azure-file`)
 2. attach/mount volume by built-in or csi driver
 3. unmount volume by csi driver
 4. delete volume by csi driver

In

[2020-05-08 12:48] andyzhangx commented on #115
Azure disk & azure file migration would go beta in 1.19, here is the PR: https://github.com/kubernetes/kubernetes/pull/90896
related KEP:
https://github.com/kubernetes/enhancements/issues/1490

[2020-05-08 16:44] aelmanaa opened #271 "pvc pending with error "sa azurefile cannot create secrets""
Hello,

I see a weird warning  in a pending pvc:

couldn't create secret secrets is forbidden: User "system:serviceaccount:kube-system:csi-azurefile-controller-sa" cannot create resource "secrets" in API group "" in the namespace "default"

why is azure file csi trying to create a secret?  we are using v0.5 and I don't see a permission to create a secret in the installation files

kubectl auth can

[2020-05-08 18:11] aelmanaa commented on #271
Everything has been working fine for several weeks. The only thing that I did yesterday,:  I installed the following plugins:

https://github.com/Azure/secrets-store-csi-driver-provider-azure
https://github.com/kubernetes-sigs/secrets-store-csi-driver
https://github.com/Azure/aad-pod-identity

[2020-05-09 02:05] andyzhangx commented on #271
@aelmanaa I think you should go to `install-csi-driver-v0.5.0.md` to install `v0.5.0`, the latest stable version is `v0.6.0`, so you should follow this page to install `v0.6.0`: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/v0.6.0/docs/install-csi-driver-v0.6.0.md

[2020-05-09 02:05] #271 closed

[2020-05-09 02:11] aelmanaa commented on #271
@andyzhangx you shouldn’t close the issue .
I was using v0.5 and it suddenly broke ! As I told you the problem is coming from the fact that you don t specify a proper version here:  mcr.microsoft.com/k8s/csi/azurefile-csi:latest

Why don’t you specify « azurefile-csi:0.5 »
instead of « azurefile-csi:latest » ? Because of this , if there is a scale up for instance , my node pulls the latest version

[2020-05-09 02:16] aelmanaa commented on #271
@andyzhangx just changed the title of the issue. To summarize there are 2 issues here :

*no proper version when pulling azure file container

*azurefile latest is not backward compatible with v0.5 —> as I told you , I was using v0.5 in AKS cluster with rbac enabled and it suddenly broke !

[2020-05-09 02:38] andyzhangx commented on #271
pls follow this guide to install `v0.5.0` driver:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-v0.5.0.md

It's already using `v0.5.0` version, there could be a doc issue in the before, I think it's already fixed.

[2020-05-09 07:27] aelmanaa commented on #271
@andyzhangx  No the doc has not been fixed. please check those files. they are still with "mcr.microsoft.com/k8s/csi/azurefile-csi:latest"

https://raw.githubusercontent.com/kubernetes-sigs/azurefile-csi-driver/v0.5.0/deploy/csi-azurefile-controller.yaml

same with: https://raw.githubusercontent.com/kubernetes-sigs/azurefile-csi-driver/v0.6.0/deploy/csi-azurefile-controller.yaml

so the error is s

[2020-05-09 07:53] andyzhangx commented on #271
@aelmanaa pls follow this guide to install v0.6.0 driver:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-v0.6.0.md

or install v0.5.0 driver from https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-v0.5.0.md

I realized this is really going to make people confused, will change the tags, thanks.

[2020-05-09 08:07] aelmanaa commented on #271
@andyzhangx ok thanks! indeed, now everything is versioned!  Yesterday everything was breaking so I just installed the "master" version to unlock the situation. do you think I can safelly instlall v0.6.0 without impacting current mounts ?

[2020-05-09 08:13] andyzhangx commented on #271
Yes, it should be safe

[2020-05-12 02:05] andyzhangx commented on #138
/remove-lifecycle rotten

[2020-05-16 03:00] andyzhangx commented on #188
azure file in-tree driver has fixed this issue by https://github.com/kubernetes/kubernetes/pull/90350, now waiting for https://github.com/kubernetes/legacy-cloud-providers automatic code sync, and then fixed in this CSI driver.

[2020-05-17 15:03] Dhiraj240 opened #278 "update-gofmt.sh shows error in Ubuntu 18.04 LTS"
I checked it using below and got error
bash -x update-gofmt.sh

    set -euo pipefail
    find . -name '*.go'
    grep -v '/vendor/'
    xargs gofmt -s -w
    error: cannot use -w with standard input

[2020-05-17 19:48] Dhiraj240 commented on #266
@andyzhangx https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/265 solves the issue. Please merge

[2020-05-18 01:34] andyzhangx commented on #267
already done by https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/273

[2020-05-18 01:34] #267 closed

[2020-05-18 01:39] animeshk08 commented on #258
Working on unit tests for https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/pkg/azurefile/nodeserver.go. Mentioning to avoid redundant work :)

[2020-05-18 09:45] andyzhangx opened #281 "Support for tags parameter"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Add `tags` parameter in azure file creation, and the tags would be created in newly created storage account, could refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/236

May do it in in-tree driver first.

/assign @ZeroMagic

**Describe alternatives you've conside

[2020-05-19 14:25] ezYakaEagle442 opened #282 "Enable Cloud Provider Config file as a parameter during driver installation, needed for ARO support"
**What happened**:

The [CSI driver doc](https://github.com/kubernetes-sigs/azurefile-csi-driver#prerequisite) states :
The driver initialization depends on a Cloud provider config file, usually it's /etc/kubernetes/azure.json on all kubernetes nodes deployed by AKS or aks-engine, here is azure.json example. This driver also supports read cloud config from kuberenetes secret.

Indeed this is what

[2020-05-19 18:00] ialidzhikov commented on #247
We were missing the `--kubeconfig` flag for the out-of-cluster azurefile-csi-driver. The issue is fixed by #241.

/close

[2020-05-19 18:01] #247 closed

[2020-05-20 01:07] andyzhangx opened #283 "refine helm installation"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

current chart installation: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/charts

could refer to:  https://github.com/Azure/aad-pod-identity/tree/master/charts

[code]

**Describe alternatives you've considered**

**Additional context**

[2020-05-20 05:24] #282 closed

[2020-05-20 18:40] animeshk08 opened #286 "Redundant Check"
**What happened**:
The check for TargetPath is redundant in the method:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/7b2d070b9badab1f9f63fa4b530be05444a8816d/pkg/azurefile/nodeserver.go#L41

First check: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/7b2d070b9badab1f9f63fa4b530be05444a8816d/pkg/azurefile/nodeserver.go#L49

Second check: https://github.com/kubernetes-s

[2020-05-21 00:28] andyzhangx commented on #286
thanks, just go ahead to remove the second check, thanks.

[2020-05-21 02:45] andyzhangx commented on #188
also needs vendor this PR in csi-provisioner for migration scenario:
https://github.com/kubernetes/kubernetes/pull/91093

[2020-05-21 04:42] #286 closed

[2020-05-24 13:00] ezYakaEagle442 opened #291 "Dynamic Provisioning default example fails as it uses Premium tiers"
**What happened**:
Demo PVC failed :
                                                                                        -------
  Warning  ProvisioningFailed    8s                file.csi.azure.com_aks-strcsiaksnp-14664217-vmss000000_6a89caa1-afd9-48dd-937b-cbad1fcaddab  failed to provision volume with StorageClass "file.csi.azure.com": rpc error: code = Unknown desc = failed to create file s

[2020-05-24 13:12] #291 closed

[2020-05-24 14:26] ezYakaEagle442 opened #293 "Explain how to enable Feature Gate in AKS"
**Is your feature request related to a problem?/Why is this needed**

Can not test Volume Snapshot without this documentation.

[https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/snapshot](https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/snapshot) states that VolumeSnapshotDataSource Feature Gate must be enabled, but how to configu

[2020-05-24 21:15] animeshk08 commented on #283
/assign @animeshk08

[2020-05-25 01:39] andyzhangx commented on #293
since Azure Disk CSI driver already uses snapshot v2.0.0 interfance, minimum supported k8s version is `1.17.0`, that feature gate is enabled by default(beta) on AKS, and I have updated the snapshot doc: https://kubernetes-csi.github.io/docs/snapshot-controller.html

[2020-05-25 01:39] #293 closed

[2020-05-25 01:42] andyzhangx commented on #256
it's done

[2020-05-25 01:42] #256 closed

[2020-05-27 00:14] #283 closed

[2020-05-29 02:39] andyzhangx opened #296 "enable external e2e storage test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

We also have external e2e storage tests, need to figure out how to enable external e2e storage test on this driver:
https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external

**Describe alternatives you've considered**

**Additional context**

cc @animeshk08 co

[2020-05-29 04:57] animeshk08 commented on #296
Sure!

[2020-05-31 13:54] andyzhangx commented on #137
/remove-lifecycle stale

[2020-06-06 02:21] andyzhangx opened #303 "logging request(filter out key) in NodeStageVolume"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

PR(https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/302) remove secret logging in NodeStageVolume, while we still need to print out all info in request except account key, could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/64, it's better write

[2020-06-06 02:26] andyzhangx commented on #303
looks like it's not necessary logging now since there is already a logging in the common function, closed it now

[2020-06-06 02:26] #303 closed

[2020-06-06 14:25] andyzhangx commented on #261
first step, upgrade azure-sdk-for-go to v43.0.0 in k/k: https://github.com/kubernetes/kubernetes/pull/91861

[2020-06-12 16:02] ZeroMagic commented on #281
Do we also need to set `tags` parameter into `Metadata` of file share? https://github.com/Azure/azure-sdk-for-go/blob/v43.0.0/services/storage/mgmt/2019-06-01/storage/models.go#L2669

[2020-06-13 00:09] andyzhangx commented on #281
I think we can set tags in both azure storage account and file share if possible

[2020-06-13 13:07] animeshk08 opened #305 "Test: Improve test coverage for controlserver"
The test coverage of `controlserver` is 52.98%. Currently, the tests include only negative cases. To include the positive test cases a mocked client is needed as lines like: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/645b2b95d71411d710b5cdafe88c2e3c7dcfa086/pkg/azurefile/azurefile.go#L192
are returning HTTP timeout error.

Can refer to: https://github.com/kubernetes-sigs/azurefil

[2020-06-13 13:13] animeshk08 commented on #258
Update:

Uncovered files:
* `server.go`: Need to find a way to mock grpc requests.

Improve coverage:
 * `controllerserver.go`: Need to create mock file client.
* `nodeserver.go`: Mock mount/unmount operation to remove the need of running the command with root privileges.

[2020-06-13 13:16] andyzhangx commented on #305
@animeshk08 thanks for the update.
the mock client is here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/clients/fileclient/mockfileclient/interface.go#L59-L62

@ZeroMagic  is trying to update the latest cloud provider lib code from k/k, should be in PR:https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/298

[2020-06-13 13:31] andyzhangx commented on #258
thanks @animeshk08 really impressive work!
Can you improve code coverage on `csi-common`? thanks

Current code coverage:
![image](https://user-images.githubusercontent.com/4178417/84569999-f68b4280-adbc-11ea-95b3-6ab5252027ca.png)

cc @Sakuralbj

[2020-06-13 13:47] animeshk08 commented on #258
Sure!
`controllerserver-default.go` has unimplemented methods which I have omitted. Hence the low coverage for that file.
I will start work on `server.go`.

[2020-06-13 18:02] animeshk08 commented on #266
This issue can be closed now. @Dhiraj240 @andyzhangx

[2020-06-13 23:26] #266 closed

[2020-06-15 02:23] #103 closed

[2020-06-20 13:57] andyzhangx commented on #261
found a blocking issue:
 - create `protocol=storage.NFS` file share is not available on region(`westus2`)
https://github.com/kubernetes/kubernetes/pull/92336

[2020-06-21 03:31] andyzhangx opened #311 "fix unstable sanity test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azurefile-csi-driver/310/pull-azurefile-csi-driver-sanity/1274541447831359488/build-log.txt

**Describe alternatives you've considered**

**Additional context**

[2020-06-21 04:30] ZeroMagic commented on #311
There is a same issue #119.

After switching to mgmt SDK, this issue appears again. I will check the status in DeleteVolume() with the field [`Deleted`](https://github.com/Azure/azure-sdk-for-go/blob/v43.0.0/services/storage/mgmt/2019-06-01/storage/models.go#L2679) to fix it.

[2020-06-21 20:36] animeshk08 commented on #305
Hi @andyzhangx, I had a look again at the tests for `controllerserver`. I believe the fileclient mentioned by you is not the one being used.
The mocks are needed for: https://github.com/Azure/azure-sdk-for-go/blob/master/storage/fileserviceclient.go
and https://github.com/Azure/azure-storage-file-go/blob/master/azfile/url_file.go.

Please let me know how to move forward from here.

[2020-06-22 01:41] andyzhangx opened #312 "add snapshot e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go

depends on https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/313, switch to `v2.0.1` first

**Describe alternatives

[2020-06-22 01:42] andyzhangx opened #313 "switch snapshot feature from v1.1.0 to 2.0.1"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Current snapshot feature is using `v1.1.0`, should switch to use `v2.0.1` (`v2.0.1` introduces a snapshot controller)
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/9881ffd5e4754ea4f7a3a911b609d8fe3458414c/deploy/csi-azurefile-controller.yaml#L69

could refer to
 - ht

[2020-06-22 05:28] andyzhangx commented on #305
@animeshk08 there is a working PR(https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/298) to use management API.

[2020-06-22 09:12] ZeroMagic commented on #305
Hi @animeshk08 , the PR is completed and waiting for review. After switching to management API, the mocks in `k8s.io/legacy-cloud-providers/azure` are enough for you to use. Could refer to https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/azure_storage_test.go.

Due to the SDK change, some original unit tests are invalid and have to be deprecated.

[2020-06-22 09:23] animeshk08 commented on #305
Hi, @ZeroMagic Thank you for the update. This will definitely make things easier. I will update the unit tests once the PR is merged :)

[2020-06-22 10:56] #119 closed

[2020-06-22 10:56] #188 closed

[2020-06-22 10:56] #311 closed

[2020-06-22 10:57] andyzhangx opened #314 "add volume resize e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add volume resize e2e test

**Describe alternatives you've considered**

**Additional context**

[2020-06-22 11:05] andyzhangx commented on #305
that PR is merged

[2020-06-23 02:35] ZeroMagic commented on #223
This is the solution(https://github.com/kubernetes-sigs/blobfuse-csi-driver/issues/167#issuecomment-643874746).
The PR(https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/308) has solved it.

[2020-06-23 02:35] #223 closed

[2020-06-24 02:06] andyzhangx opened #318 "add private link e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

We already have a private link: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/300, need to add private link e2e test, this requires we should first create a storage account in e2e test.

https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/test/e2e

**

[2020-06-26 21:40] chewong opened #319 "In-tree Azure File E2E jobs are failing"
**What happened**:

The following jobs are failing after https://github.com/kubernetes-sigs/azurefile-csi-driver/commit/6382a2172940353a3ebe7c934cf142c2d3f95e06 was introduced:
https://testgrid.k8s.io/provider-azure-upstream#k8s-e2e-azure-file-1-16
https://testgrid.k8s.io/provider-azure-upstream#k8s-e2e-azure-file-1-17
https://testgrid.k8s.io/provider-azure-upstream#k8s-e2e-azure-file-1-18

[code]

[2020-06-27 00:41] andyzhangx commented on #319
/assign @ZeroMagic
Thanks @chewong looks like it's a test issue, that https://github.com/kubernetes-sigs/azurefile-csi-driver/commit/6382a2172940353a3ebe7c934cf142c2d3f95e06 solves the CSI driver test issue while breaks the in-tree driver tests

[2020-06-27 05:31] #319 closed

[2020-06-27 12:48] andyzhangx opened #323 "retry on EnsureStorageAccount if it's throttled"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

retry on EnsureStorageAccount if it's throttled, now it would  return error directly:

https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/5d9d6fc69bf849e96b3c0850516eb518451bbc10/pkg/azurefile/controllerserver.go#L122-L125

[code]

**Describe alternatives you've considere

[2020-06-30 08:37] animeshk08 opened #326 "Update remaining methods in Controllerserver with management SDK"
**Is your feature request related to a problem?/Why is this needed**
Some of the methods were not covered in this PR: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/298. Some examples include,
* https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/3677c80f4fd968f6fc9d0def28f41b6c13d65a9d/pkg/azurefile/controllerserver.go#L605
* https://github.com/kubernetes-sigs/azurefile-csi

[2020-06-30 12:03] andyzhangx commented on #258
it's now 80%!
![image](https://user-images.githubusercontent.com/4178417/86123809-b93ce980-bb0c-11ea-8785-572be73f353a.png)

[2020-07-01 02:17] andyzhangx opened #327 "Use vnet setting in azure.json for NFS driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

File based NFS service requires storage account with virtual network pre-configured:
https://github.com/Azure/azure-sdk-for-go/blob/7a3b565cdd77b7734e1df25390c3f73e83ffda28/services/storage/mgmt/2019-06-01/storage/models.go#L3762

actually we could get vnet setting in azure.json:
h

[2020-07-06 07:56] #261 closed

[2020-07-06 14:12] andyzhangx opened #329 "add e2e test for NFS feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/nfs

It's currently blocking since only NFS service on eastus2 is not available

**Describe alternatives you've considered**

**Additional context**

[2020-07-06 18:03] aelmanaa opened #330 "azure file csi v0.7: installation file links are broken"
Hello,

not able to install azure file csi v0.7

if you try to open the follwing link:
https://raw.githubusercontent.com/kubernetes-sigs/azurefile-csi-driver/master/deploy/v0.7.0/crd-csi-node-info.yaml

--> 404: Not Found

the other links work fine. for instance:

https://raw.githubusercontent.com/kubernetes-sigs/azurefile-csi-driver/master/deploy/v0.7.0/rbac-csi-azurefile-controller.yaml

--> OK

[2020-07-07 00:37] andyzhangx commented on #330
could you take a look? @Sakuralbj

[2020-07-07 03:53] andyzhangx commented on #330
@aelmanaa pls try use following command to install v0.7.0:
[code]

detailed doc could be found here: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-v0.7.0.md

[2020-07-07 07:36] aelmanaa commented on #330
hello @andyzhangx  yes sorry about that, the repo in in the script is indeed the right one.
I'll wait for your investigation regarding:
https://raw.githubusercontent.com/kubernetes-sigs/azurefile-csi-driver/master/deploy/v0.7.0/crd-csi-node-info.yaml

[2020-07-07 15:01] andyzhangx commented on #330
we are going to remove `crd-csi-node-info.yaml` since it's not necessary, pls follow this guide to install v0.7.0:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-v0.7.0.md

[2020-07-07 15:15] aelmanaa commented on #330
@andyzhangx

but the script will fail here:
kubectl apply -f $repo/crd-csi-node-info.yaml

Just tried and it failed as expected

 curl -skSL https://raw.githubusercontent.com/kubernetes-sigs/azurefile-csi-driver/v0.7.0/deploy/install-driver.sh | bash -s v0.7.0 --
Installing Azure File CSI driver, version: v0.7.0 ...
error: unable to read URL "https://raw.githubusercontent.com/kubernetes-sigs/azure

[2020-07-07 15:46] andyzhangx commented on #330
thanks, pls try again
[code]

should be fixed by https://github.com/kubernetes-sigs/azurefile-csi-driver/commit/9749957acad666ac6879695477a2c989648b5730

[2020-07-07 15:51] #330 closed

[2020-07-07 18:38] aelmanaa commented on #330
thanks @andyzhangx

[2020-07-09 07:54] onesolpark opened #334 "Add GET_VOLUME_STATS Capability to NodeService Capability"
**What happened**:
Kubelet is not exposing volume stats even though it is implemented through #306

**What you expected to happen**:
Expose volume stats through kubelet metric

**How to reproduce it**:
Create PVC and check for metric in kubelet metric endpoint

**Anything else we need to know?**:
```csi.NodeServiceCapability_RPC_GET_VOLUME_STATS``` should be added to node service capability so kub

[2020-07-09 15:29] ZeroMagic commented on #326
Currently, the azurefile team has not provided snapshot related API in management SDK. For the management plane, there are just the six APIs(https://docs.microsoft.com/en-us/rest/api/storagerp/fileshares). The code is located at https://github.com/Azure/azure-sdk-for-go/blob/master/services/storage/mgmt/2019-06-01/storage/fileshares.go

So we only can use the data plane to control the snapshot now

[2020-07-10 06:36] moonek commented on #334
@andyzhangx
When will this feature be released?

[2020-07-10 07:31] #334 closed

[2020-07-10 07:52] andyzhangx commented on #334
It's already in master branch, would you try first? thanks.

[2020-07-11 13:41] andyzhangx opened #342 "provide storage class support for static provisioning"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md#option1-storage-class-usage

**Describe alternatives you've considered**

**Additional context**

[2020-07-12 09:02] andyzhangx commented on #254
duplicated as #281

[2020-07-12 09:02] #254 closed

[2020-07-15 08:43] ZeroMagic opened #345 "Optimize the azure the backoff config"
**Is your feature request related to a problem? Please describe.**

Following is the default azure backoff config in sanity tests.
[code]
Sometimes the sanity tests still fail because of timeout. Need to optimize the config to make sure there is appropriate length of time to pass the tests.
Ref: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/340

**Describe the solution you'd like in

[2020-07-16 08:33] #323 closed

[2020-07-17 12:21] andyzhangx commented on #314
already covered by https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go

[2020-07-17 12:21] #314 closed

[2020-07-17 12:30] andyzhangx commented on #181
@animeshk08 could you also take a look at this? thanks.

[2020-07-17 12:31] andyzhangx commented on #204
@animeshk08 could you also take a look at this? thanks.

[2020-07-17 12:44] animeshk08 commented on #181
The unit tests already exist here: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/f0a7d581749fd29fcb4340adceb2a63bebc929b3/pkg/azurefile/azurefile_test.go#L605

Line coverage can be found here: https://coveralls.io/builds/32107068/source?filename=pkg/azurefile/azurefile.go#L364

Only lines 384-387 are prominently remaining, which cannot yet be covered due to the absence of the mock i

[2020-07-17 12:46] animeshk08 commented on #204
The UT already exists here: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/f0a7d581749fd29fcb4340adceb2a63bebc929b3/pkg/azurefile/azurefile_test.go#L512

The method is nearly covered completely.

The line coverage can be found here: https://coveralls.io/builds/32107068/source?filename=pkg/azurefile/azurefile.go#L396

I think the issue can be closed.

[2020-07-17 12:50] andyzhangx commented on #204
thanks

[2020-07-17 12:50] #204 closed

[2020-07-17 12:50] andyzhangx commented on #181
thanks

[2020-07-17 12:50] #181 closed

[2020-07-17 13:35] andyzhangx commented on #258
it's now 85%, thanks for the contribution! @animeshk08  now close this issue.
![image](https://user-images.githubusercontent.com/4178417/87791790-72255700-c875-11ea-99cb-9b35298d2563.png)

[2020-07-17 13:35] #258 closed

[2020-07-17 13:42] #138 closed

[2020-07-20 19:45] michael-niemand opened #347 "VolumeSnapshot never reaches ReadyToUse state"
**What happened**:
A VolumeSnapshot of a PVC with a StorageClass using the azurefile-csi-driver is not successful; the VolumeSnapshot stays in ReadyToUse state: <nil> forever

**What you expected to happen**:

The VolumeSnapshot is being created and goes into Ready To Use state at some point

**How to reproduce it**:

- have a basically new AKS 1.17.7 cluster
- install the VolumeSnaphsot CRDs, fol

[2020-07-21 01:07] andyzhangx commented on #347
actually it's not working, there is also a tracking issue here: https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/313
cc @ZeroMagic

[2020-07-21 01:14] andyzhangx commented on #347
We will definitely working on this  feature to make it available again soon, just need to switch to snapshot beta interface.

[2020-07-22 06:02] #347 closed

[2020-07-22 14:47] michael-niemand opened #350 "Restored snapshot is empty"
Using the master version of the driver, I was able to create a snapshot, however the snapshot appears to be empty.

Kubernetes version 1.17.7 AKS
kubectl version 1.18
using master branch version of the azurefile-csi-driver

Steps to reproduce:

1. Have pod with bound PVC, azure csi file driver, most recent version installed using [install script] this morning (new snapshotter!) (https://github.com

[2020-07-22 14:53] andyzhangx commented on #350
snapshot feature is not supported on azure file csi driver yet, there is an issue to track: https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/136

[2020-07-24 13:27] #131 closed

[2020-07-27 05:40] ZeroMagic commented on #312
Has added in #349

[2020-07-27 05:40] #312 closed

[2020-07-27 05:41] ZeroMagic commented on #313
Fixed in #349.

[2020-07-27 05:41] #313 closed

[2020-07-29 05:22] RenaShahMSFT opened #353 "Project stuck in pending"
[csi-azurefile-node.log](https://github.com/kubernetes-sigs/azurefile-csi-driver/files/4992733/csi-azurefile-node.log)

**What happened**:
Error when following https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/nfs#how-to-use-nfs-feature

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver ve

[2020-07-29 09:33] #281 closed

[2020-07-31 11:44] andyzhangx commented on #353
I think `kubectl describe pvc pvc-name` would display the error since there is already error msg in azure file controller:
[code]

[2020-07-31 11:44] #353 closed

[2020-08-10 03:02] andyzhangx opened #365 "fix Windows Unit Test failures"
**What happened**:
After enabled running unit tests on Windows: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/10d234801dc4251bf1923677a0e477c7451e53f2/.github/workflows/windows.yml#L1-L28

failed with following:
https://github.com/kubernetes-sigs/azurefile-csi-driver/runs/965044029?check_suite_focus=true
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything

[2020-08-12 17:17] fredgate opened #369 "Helm chart v0.8.0 is missing"
**What happened**:
Following this guide https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/charts, I want to install the version 0.8.0 of the driver. But the chart is not present on the repository. The last available version is 0.7.0.
Its definition is missing in the index file : https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/charts/index.yaml

[2020-08-13 00:27] #369 closed

[2020-08-13 15:12] fredgate opened #371 "Helm chart should allow secrets to pull Docker images"
**Is your feature request related to a problem?/Why is this needed**
The Helm chart allow to change Docker images repository when they are not hosted on Docker hub. But it does not allow to provide a secret used to authenticate in case these repositories are private.

**Describe the solution you'd like in detail**
The chart should add a optional variable thats contains secrets used to authenticate

[2020-08-14 00:33] andyzhangx commented on #371
@fredgate thanks for the offer!

[2020-08-20 14:42] andyzhangx opened #377 "add new judgment in resize e2e-test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/461

**Describe alternatives you've considered**

**Additional context**

[2020-08-21 01:34] andyzhangx commented on #377
cc @Sakuralbj  could you work on this? thanks

[2020-08-23 13:07] andyzhangx opened #380 "azurefile + Windows doesn't work w/ containerd"
**What happened**:
azurefile + Windows doesn't work w/ containerd

refer to https://github.com/Azure/aks-engine/issues/3315

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-08-24 03:14] andyzhangx commented on #115
waiting for https://github.com/kubernetes-csi/external-provisioner `v2.0.0` release

[2020-08-25 07:07] andyzhangx opened #382 "multi-arch tag does not work on containerd on Windows"
**What happened**:
multi-arch tag does not work on containerd on Windows, if I switch to use `mcr.microsoft.com/k8s/csi/azurefile-csi:v0.9.0-windows-1809-amd64` tag it works.

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):

[2020-08-26 02:55] andyzhangx commented on #327
working on https://github.com/kubernetes/kubernetes/pull/94239/

[2020-08-27 07:55] andyzhangx opened #385 "bring your own storage account key for dynamic provisioning"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

In some scenarios, user's cluster does not have permission to a storage account(in some case, the storage account is in another subscription), we already provide static provisioning for that scenario. While that's not enough, user still wants to only bring own storage account key a

[2020-08-31 09:13] Sakuralbj commented on #377
/assign

[2020-09-02 06:45] andyzhangx opened #394 "add darwin build test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

we need to add a darwin build test, could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/.github/workflows/go.yml#L13

cc @Sakuralbj

**Describe alternatives you've considered**

**Additional context**

[2020-09-02 12:39] #385 closed

[2020-09-02 14:15] andyzhangx opened #396 "add unit tests for azurefile_client.go"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/pkg/azurefile/azurefile_client.go

**Describe alternatives you've considered**

**Additional context**

[2020-09-02 14:22] andyzhangx opened #397 "add e2e test for bring your own account feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

need to create a storage account first, and then store account name & key to k8s secret
https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/389

**Describe alternatives you've considered**

**Additional context**

[2020-09-02 14:23] andyzhangx commented on #342
fixed by https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/389

[2020-09-02 14:23] #342 closed

[2020-09-03 03:28] andyzhangx commented on #396
cc @Sakuralbj

[2020-09-03 03:57] Sakuralbj commented on #396
/assign

[2020-09-03 04:29] #371 closed

[2020-09-03 07:49] #377 closed

[2020-09-06 02:52] andyzhangx opened #403 "enable resize e2e test for in-tree driver"
**Is your feature request related to a problem?/Why is this needed**

Current get resourceGroup of file share is incorrect in in-tree driver test:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/4dc86c4714d90aa4c2fecc7b8f0181fc8f1f2bc1/test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go#L120

Should use kubeClient to get storage account name and key directly and the us

[2020-09-06 07:37] andyzhangx opened #404 "fix unit test failure on Windows"
**What happened**:
If some tests could not run on Windows, just skip it, refer to https://github.com/kubernetes-csi/csi-driver-smb/pull/101

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Insta

[2020-09-06 07:46] mayankshah1607 commented on #404
@andyzhangx yeah, sure thing! :)

[2020-09-07 01:16] andyzhangx opened #407 "enable unit tests on Windows"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Need to enable following unit tests on Windows since NodeXXX funcs would still run on Windows, should fix the test case

[code]

related to RP: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/406

**Describe alternatives you've considered**

**Additional context**

[2020-09-07 09:01] schmichri opened #408 "Support AzureBackup for Fileshares on pvc creation"
**Is your feature request related to a problem?/Why is this needed**
Using the azurefiles-csi driver brings the circumstance that a backup of fresh created fileshares (wrapped in pvc creation) has to be created manually in azure. For "K8S as a Service" or failsafe deployment a workaround is need to e.g. always check for new fileshares, which is pretty unclean.

**Describe the solution you'd like i

[2020-09-07 09:35] andyzhangx commented on #408
We already have Snapshot support: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/snapshot, is it ok to use that feature instead?

[2020-09-07 09:35] andyzhangx commented on #408
And for this requirement, if you could configure backup on storage account, that would be an easy workaround, right?

[2020-09-07 12:07] #404 closed

[2020-09-07 13:25] schmichri commented on #408
@andyzhangx Snapshot-Support is great but snapshots are no backups. (this is half true and half right). We could implement workarounds using Snapshots and soft-deletion but this would  prevent malicious attacks or accidentally deletions of storage accounts.

AFAIK the 'Azure Backups' only support backup of Fileshares not for the complete storage account.
![image](https://user-images.githubusercont

[2020-09-09 09:23] andyzhangx opened #409 "enable resize e2e test for in-tree driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

`accountName` is not set correctly in e2e test for in-tree driver:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/5763b6f83318b5dea42e2cedbe9f11a6c34f85a4/test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go#L120

use following way to get account name:

[2020-09-09 14:15] Sakuralbj commented on #409
/assign

[2020-09-10 08:19] #409 closed

[2020-09-10 14:33] #396 closed

[2020-09-11 07:47] ZeroMagic opened #416 "Use a standalone user agent"
**Is your feature request related to a problem?/Why is this needed**

Currently, we use the user agent in cloud provider to send the requests. Should decouple it and use fileshares client in this repository directly.

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2020-09-13 14:37] andyzhangx commented on #115
related work: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/419

[2020-09-14 10:15] mayankshah1607 commented on #407
/assign

[2020-09-15 14:36] #278 closed

[2020-09-16 07:47] mayankshah1607 opened #426 "test: enable ` csi-proxy.exe` before executing Windows unit tests"
**What happened**:

Following https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/421#discussion_r488569749, the unit test pipeline on Windows will have to be changed to run `csi-proxy.exe` to avoid type casting errors.

**What you expected to happen**:

**How to reproduce it**:

Run unit tests on Windows using the `go test` command. Though the tests pass, a lot of the tests are deliberat

[2020-09-16 07:47] mayankshah1607 commented on #426
/assign

[2020-09-16 07:52] andyzhangx commented on #426
csi-proxy.exe could be downloaded here: https://kubernetesartifacts.azureedge.net/csi-proxy/v0.2.0/binaries/csi-proxy.tar.gz
and it could be configured as a service or simply run as a process is ok in unit test
https://github.com/kubernetes-csi/csi-proxy/blob/master/cmd/csi-proxy/main.go#L22-L25

[2020-09-17 11:24] andyzhangx opened #429 "Warning: storage.k8s.io/v1beta1 CSIDriver is deprecated in v1.19+, unavailable in v1.22+; use storage.k8s.io/v1 CSIDriver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2020-09-18 03:26] andyzhangx opened #432 "account list throttling issue in CreateVolume"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Always check account key in k8s secret before list account key in CreateVolume

**Describe alternatives you've considered**

details:
[code]

**Additional context**

[2020-09-18 19:22] #140 closed

[2020-09-19 12:27] #432 closed

[2020-09-21 10:14] amit1411 opened #436 "Not able to provision large(100TB) standard file share"
Hi,

Is there a parameter to specify that a large file share should be provisioned? I want to use standard SKU

[2020-09-21 10:34] andyzhangx commented on #436
it's not supported yet, to workaround, you need to create a storage account with large file share support and specify `storageAccount` in storage class

[2020-09-26 08:38] andyzhangx commented on #397
fixed by https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/442

[2020-09-26 08:38] #397 closed

[2020-09-27 07:03] andyzhangx commented on #115
waiting for
 - `v0.20.0` release on https://github.com/kubernetes/csi-translation-lib
 - upgrade to csi-translation-lib `v0.20.0` on https://github.com/kubernetes-csi/external-provisioner `v2.0.3`
 - upgrade to csi-provisioner `v2.0.3` in this driver
 - enable migration CI test

[2020-09-27 08:18] andyzhangx commented on #380
[code]

[2020-09-27 08:18] andyzhangx commented on #382
[code]

[2020-09-29 05:39] andyzhangx opened #443 "switch to github.com/Azure/azure-storage-file-go"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

For data plane API, we should use https://github.com/Azure/azure-storage-file-go, Currently we are still using `github.com/Azure/azure-sdk-for-go/storage`:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/1e8b685aa3f2205192901c0b0a285e8db1004f67/pkg/azurefile/azurefile_

[2020-09-29 05:43] andyzhangx opened #444 "support NFS protocol in data plane SDK"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

We have already supported NFS protocol through [control plane go SDK](https://github.com/Azure/azure-sdk-for-go/blob/8b1ae49e53332c534e4263b4d4160aeb81d9d497/services/storage/mgmt/2019-06-01/storage/models.go#L2016-L2017), need to support NFS protocol in data plane SDK in [Bring Yo

[2020-09-29 17:28] #350 closed

[2020-09-30 09:49] Sakuralbj commented on #394
/assign

[2020-10-03 15:54] junsaw opened #449 "failed to acquire lease kube-system/external-attacher-leader-file-csi-azure-com"
I am seeing this on my csi-attacher container:

I1003 15:36:17.456440       1 leaderelection.go:352] lock is held by k8s-node01 and has not yet expired
I1003 15:36:17.456492       1 leaderelection.go:247] failed to acquire lease kube-system/external-attacher-leader-file-csi-azure-com
I1003 15:36:26.640187       1 leaderelection.go:352] lock is held by k8s-node01 and has not yet expired
I1003 15:36

[2020-10-04 00:37] andyzhangx commented on #449
that's expected since you have more than 1 driver controller, is there any functionality broken?

[2020-10-06 17:53] mayankshah1607 commented on #407
Can be closed via https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/421

[2020-10-06 21:48] junsaw commented on #449
my mounted files shares tend to reset their connection back to Azure. I will have to dig a little deeper to determine the root cause.  Please note: I am connectivity to the File Share over Private Link via VPN connection

[2020-10-07 00:29] #407 closed

[2020-10-07 01:35] andyzhangx opened #452 "set actimeo=30 by default mountOptions"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshooting-files-performance#workaround-3

“One of the follow up we need to do there is add actimeo=30 to the AKS share mount command, we document here: https://docs.microsoft.com/en-us/azure/storage/files/s

[2020-10-11 15:47] koceg opened #453 "cloudprovider_azure metrics not available"
Image:`mcr.microsoft.com/k8s/csi/azurefile-csi:v0.9.0`

After following the example at https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/7d0c79c328807ba1d5a350652f5538d0027f67f6/deploy/example/metrics no metric of cloudprovider_azure was available.

Before trying this example  I provisioned a pvc claim using dynamic provisioning and assigned it to a pod that was running during this test

[2020-10-12 02:38] andyzhangx commented on #453
it works by this way:
[code]

create a service with `ClusterIP` type should also work: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/metrics

[2020-10-13 10:43] andyzhangx commented on #453
should not be an issue

[2020-10-13 10:43] #453 closed

[2020-10-13 17:13] koceg commented on #453
I tried your example but I don't know what kubectl command should demonstrate?

As there is no curl command in the image (assuming that the second command should be executed from within the pod itself)
that being said I am able to connect to the service and I'm able to retrieve the metrics.

But the metrics from file `vendor/k8s.io/legacy-cloud-providers/azure/metrics/azure_metrics.go` don't seem

[2020-10-14 02:34] ZeroMagic commented on #453
@koceg The comment in another issue may be helpful. https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/505#issuecomment-679858771

[2020-10-14 03:31] andyzhangx commented on #453
One major issue is that you may have two controllers(one is leader, another is secondary), in that case, you could only get metris from leader controller. I have checked metrics from file `vendor/k8s.io/legacy-cloud-providers/azure/metrics/azure_metrics.go`, the metrics is there if you curl from leader controller.

[code]

[2020-10-14 11:12] arindamdat opened #456 "Randomly fails to mount Azure Fileshare volume"
**What happened**:
Randomly fails to mount Azure Fileshare. Pod stays in `ContainerCreating` state forever. Describing the Pod, found the following:

When I delete the pod and a new pod is scheduled, this problem goes away and the volume is mounted.
If a deployment has 2 replicas, then one pod runs without any issue but the other pod is stuck with this issue most of the time.
Following is a portio

[2020-10-14 11:31] andyzhangx commented on #456
@arindamdat from the log `volume attachment is being deleted`, it actually fails here:
https://github.com/kubernetes/kubernetes/blob/6d01c5a58996d1619ac049c2b3077274299eb2d0/pkg/volume/csi/csi_attacher.go#L636-L638

What is your storage class, pvc and deployment configs? I would like to repro it if possible.

[2020-10-14 11:33] andyzhangx commented on #456
could you also share the `csi-attacher` container logs from csi-azurefile-controller? thanks.

[2020-10-15 03:49] andyzhangx commented on #394
already done: `MacOS Build & Unit Test / Build (pull_request) `

[2020-10-15 03:49] #394 closed

[2020-10-15 05:05] arindamdat commented on #456
Hi @andyzhangx , thanks for your reply. The information (storageClass, deployment, pvc, attacher logs etc) which you sought, are available here https://www.dropbox.com/sh/isthz1lp28fnycd/AAA0KXFA-b9jjvU9FSO0GF-Ca?dl=0
Looking at the `csi-attacher` log, this particular portion seemed interesting to me, so just copy-pasting that particular portion here too:

[2020-10-15 06:00] Sakuralbj commented on #452
/assign

[2020-10-15 06:54] andyzhangx commented on #456
sorry I cannot repro with your config, is it possible to try on another cluster, I think there is volume controller is wrong in your cluster, ask MS support to reconcile your cluster may help. I have tried using same PVC on 6 pods, could not repro:
[code]

[2020-10-16 12:31] koceg commented on #453
True. Have tested and yes , once I query the leader I get the metrics.
Thank you for clarification

[2020-10-16 16:39] denniszielke opened #457 "azure files with nfs preview receiving "mount.nfs: access denied by server ""
**What happened**:
created an nfs storage account according to the docs but when trying to mount the pvc into a pod the pod gets stuck in creating with the following event output

[code]
**What you expected to happen**:
I would have expected the pod to run.

**How to reproduce it**:
Put the storage account in the MC_resource group, ensured permissions on controller identity in the MC_resource grou

[2020-10-17 01:06] andyzhangx commented on #457
it said `permission denied`, have you tried configure your storage account with following setting?
[code]

[2020-10-19 10:00] denniszielke commented on #457
Yes, when I create a cluster with a service principal it works as expected, however when I use a cluster with a managed identity it fails with the message above.
In the storage account for the MSI cluster I can also see that the NFS file share get successfully created after I provision the pvc with the storage account.
I have also given the controller system assigned managed identity controller pe

[2020-10-19 10:59] denniszielke commented on #457
Found the issue it seems that the permissions on the controller take a while until they are applied (existing access token expires). It works now. Thank you.

[2020-10-19 10:59] #457 closed

[2020-10-27 00:39] CecileRobertMichon opened #459 "Consider adding AZURE prefix to all env variables in E2E"
Running tests in environments which deal with multiple providers, not just Azure, is a pretty common use case. We should consider renaming all the Azure specific environment variables to add an `AZURE_` prefix such that there are no collisions with other providers. For example, `LOCATION` should be `AZURE_LOCATION`. This might require some changes in kubetest as well.

This is a follow up from htt

[2020-10-27 05:54] andyzhangx commented on #459
sound reasonable for me, anyone could make the code change? thanks.

[2020-10-27 17:19] marosset opened #460 "Build Windows containers for multiple Windows server versions (including 2004)"
**Is your feature request related to a problem?/Why is this needed**

Windows containers must match the OS version of the host/node they are running on.
Currently the container images referenced in https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/v0.9.0/csi-azurefile-node-windows.yaml are only built for a single Windows OS version (2019).

**Describe the solution you'd li

[2020-10-27 17:20] chewong commented on #460
/assign

[2020-10-28 06:41] andyzhangx commented on #460
and we should use docker cli to add this field, it's already implemented in master branch:
https://github.com/docker/cli/pull/2578

[2020-10-28 21:51] chewong commented on #460
It largely depends on the docker cli version that is installed in the kubekins image. For now, to add the os version without https://github.com/docker/cli/pull/2578, we could follow something similar to https://github.com/kubernetes/kubernetes/blob/master/build/pause/Makefile#L98-L105. WDYT?

[2020-10-29 05:37] andyzhangx commented on #460
ok for me, thanks.

[2020-10-29 21:08] CecileRobertMichon commented on #459
I can take it

/assign

[2020-10-31 00:54] #459 closed

[2020-10-31 14:48] andyzhangx commented on #115
csi-provisioner has been upgrade to `v2.0.4`, now try to enable csi migration test: https://github.com/kubernetes/test-infra/pull/19790

[2020-11-02 09:28] andyzhangx commented on #115
update:
[code]

[2020-11-05 06:43] #460 closed

[2020-11-05 13:10] andyzhangx commented on #115
waiting for https://github.com/kubernetes/kubernetes/pull/96099 merged into k8s v1.17.14

[2020-11-06 13:34] andyzhangx commented on #115
would be addressed by PR: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/430
`mcr.microsoft.com/oss/kubernetes-csi/csi-attacher:v3.0.2` has the fix already: https://github.com/kubernetes/kubernetes/pull/94904

[2020-11-07 01:45] #327 closed

[2020-11-12 09:17] andyzhangx commented on #115
found blocking issue: https://github.com/kubernetes/kubernetes/issues/96508

[2020-11-12 13:44] #209 closed

[2020-11-18 08:21] andyzhangx commented on #452
fixed by https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/473

[2020-11-18 08:21] #452 closed

[2020-11-18 08:22] andyzhangx commented on #329
already fixed

[2020-11-18 08:22] #329 closed

[2020-11-19 13:28] #305 closed

[2020-11-20 14:06] PetterT2 opened #475 "Unable to get NFS volume mounts working."
**What happened**:
Errors mounting NFS Azure file share.

-Container startup error/unable to mount

-PersitantVolumeClaim get stuck in pending:
Normal ExternalProvisioning 3s (x6 over 65s) persistentvolume-controller waiting for a volume to be created, either by external provisioner "file.csi.azure.com" or manually created by system administrator

-Mounting directly in pod via bash resulted in Per

[2020-11-20 14:19] andyzhangx commented on #475
looks like you have not installed azure file csi driver? try: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-v0.9.0.md

[2020-11-20 15:58] PetterT2 commented on #475
Thanks, it worked after installing the driver!

This would have been helpful to have in the guide section about kube-entities: https://docs.microsoft.com/en-us/azure/aks/azure-files-csi#create-nfs-file-share-storage-class.

For someone not knowing the preview state of NFS, it's hard to know that it is required to install the cis-driver manually and that it's not available as part of the NFS-Previe

[2020-11-21 01:52] andyzhangx commented on #475
thanks for the reply.
Currently there are two ways to install CSI drivers:
1.	Use “--aks-custom-headers EnableAzureDiskFileCSIDriver=true” to install CSI driver in AKS cluster creation
2.	Install CSI driver manually by user on existing cluster: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-azurefile-csi-driver.md

@palma21 do you think we need to add doc for # 2

[2020-11-25 00:27] Jiawei0227 opened #477 "ControllerExpand response return Gi instead of bytes"
I am running OSS node-expand testsuite against azurefile and found that the node-expand related tests all fail because the response of controllerexpand call return incorrect capacity unit. It should return bytes instead of Gi.

[2020-11-25 02:22] #477 closed

[2020-11-26 04:03] #296 closed

[2020-11-26 12:42] andyzhangx opened #480 "support mount specific folder inside that file share"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

if add the file share folder to the spec.csi.volumeHandle so it becomes volumeHandle: rgname#storageaccountname#filesharename#somefolder I am getting an error like that in the pod:
[code]

subPath works indeed, but having that configured in PV is more convenient.
in-tree plugin for

[2020-11-27 09:07] arindamdat commented on #456
Hi, @andyzhangx I am getting this kind of logs from `csi-attacher`. Could this be related to this issue?
[code]

[2020-11-27 09:08] arindamdat commented on #456
One more important point: I've started getting this error when multiple services/application started sharing the same Azure fileshare.

[2020-11-27 09:11] arindamdat commented on #456
![image](https://user-images.githubusercontent.com/7764767/100431658-7e8cac80-30be-11eb-8914-ed1d1ddc3b03.png)
And if you have a look at this screenshot, you will see volume attaching is being succeeded only on this `***-vmss000005` node, which according to above logs has acquired the lock.

[2020-11-27 09:26] arindamdat commented on #456
![image](https://user-images.githubusercontent.com/7764767/100433042-7fbed900-30c0-11eb-9d11-07ba34259e39.png)
To satisfy my suspicion, I forced all pods to be scheduled on `***-vmss000005`, and everything is successful now. Volume mounted and pod running successfully.
@andyzhangx , Sorry for providing the information so late, but this information might be useful to finding out root cause. It does

[2020-11-27 14:37] andyzhangx commented on #456
`csi-attacher` logs looks normal since there are two controllers, one is leader and holding the lock. Does it only fail on `vmss000001`? you could `kubectl cordon vmss000001` and then reimage that node, looks like there is sth. wrong with that node.

[2020-11-27 15:17] arindamdat commented on #456
@andyzhangx , I tested it with all 4 nodes. Except `vmss000005`, volume attachment fails on all other nodes with the same error `timed out waiting for the condition`. Do you suggest to reimage all other nodes except `vmss000005`?

[2020-11-27 15:48] arindamdat commented on #456
@andyzhangx , unfortunately reimaging the node didn't work. I cordoned and drained a node, reimaged it. Then I scheduled the pods on that node. Still it fails with the same error.

[2020-11-27 19:38] arindamdat commented on #456
Reimaging the nodes didn't work. Then I completely deleted the entire nodepool and re-created. Still the same issue persists.

[2020-11-27 20:53] arindamdat commented on #456
What I found is that, it's trying to attach wrong `PersistentVolume`. Things are happening as below:

- The pods are using `PersistentVolumeClaim ` with name `col-wopi-svc-api-pvc`
- The PVC is Bound to a PersistentVolume with name `pvc-84db26d9-0b42-49a5-a856-af1913c71495`
- However, the Error Message says `AttachVolume.Attach failed for volume "pvc-715d05c1-ea17-4421-a26f-b5544f6445ad"`. Notice

[2020-11-28 01:48] andyzhangx commented on #456
could you run:
 - `kubectl get VolumeAttachment`
 - `kubectl get VolumeAttachment xxx -o yaml`
to provide more details?

I think you kube-controller-manager could be in stale state, one workaround is file a ticket to ask MS support to reconcile the cluster, let me know whether that works.

[2020-11-29 08:22] arindamdat commented on #456
The yaml output of a VolumeAttachment is given below:
[code]
One question: can you please little elaborate what made you to suspect that the `kube-controller-manager` could be in stale state? P.S: There are 10s of other services running on the nodes with persistence enabled (though not with Azure fileshare, but other kinds like disk etc).

[2020-11-29 13:22] arindamdat commented on #456
HI @andyzhangx , after deleting the cluster and recreating it (it was our Dev cluster), the issue seems to have resolved!

[2020-11-30 12:02] andyzhangx commented on #456
@arindamdat thanks for the reply, I think it's an upstream issue, already worked out a PR to fix this issue: https://github.com/kubernetes/kubernetes/pull/96952

[2020-12-02 07:39] Jiawei0227 opened #482 "Azurefile should validate volume capabilities"
I am running K8s subpath testsuite against azurefile driver. And this test failed:

[code]

So it seems like if user specific a block volume mode in the volume capability. We did not check if that is valid or not.

/cc @msau42
/cc @andyzhangx

[2020-12-02 15:25] andyzhangx commented on #365
already fixed by https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/.github/workflows/windows.yml

[2020-12-02 15:25] #365 closed

[2020-12-03 02:35] andyzhangx opened #484 "set mfsymlinks as default mountOptions"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

set mfsymlinks as default mountOptions
Without this the symbolic operation will fail.

**Describe alternatives you've considered**

**Additional context**

[2020-12-03 17:24] Jiawei0227 commented on #480
@msau42 This might be the thing we talked about offline.

@andyzhangx , we are facing this issue https://github.com/kubernetes/kubernetes/issues/97031 when doing subpath tests on Azurefile. And this feature might raise this issue to not only subpath volume but general volume, i.e. if user mount a specific folder and somehow the folder get deleted in the Azure console. Would this be a problem is so

[2020-12-03 18:35] Jiawei0227 opened #485 "fsType in parameters can be confusing"
**What happened**:
Looking at the VHD support in Azurefile csi driver.

It seems user has to pass a fsType in the SC parameters to indicate this will be a VHD. This can be confusing because we also have `csi.storage.k8s.io/fstype` in the StorageClass.[1]

It could be changed to something like vhdFsType which might help in this case?

Also, I think right now Azurefile is reading fsType from req.Par

[2020-12-05 12:12] andyzhangx opened #488 "refactor appendDefaultMountOptions function"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

it's better use a map to store default MountOptions,  that would easier to add new default MountOptions in the future

https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/3abdb132ee3fcd101337e11602e0c6e1d9182e90/pkg/azurefile/azurefile.go#L254-L277

**Describe alternatives

[2020-12-05 12:50] andyzhangx opened #489 "use apiextensions.k8s.io/v1 instead of apiextensions.k8s.io/v1beta1"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

fix
[code]

https://prow.k8s.io/log?container=test&id=1335197078942388224&job=pull-azurefile-csi-driver-e2e-vmss

**Describe alternatives you've considered**

**Additional context**

[2020-12-05 13:35] andyzhangx commented on #488
@dr0pdb this one would be easier for you to ramp up

[2020-12-05 14:33] dr0pdb commented on #488
/assign

[2020-12-06 17:11] #326 closed

[2020-12-09 14:14] andyzhangx opened #494 "support arbitrary volume id in static pv"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently in static pv, if there is no secret provided, volume id format must be `rg#f5713de20cde511e8ba4900#pvc-file-dynamic-17e43f84-f474-11e8-acd0-000d3a00df41#`, actually it's not necessary, if user provides following parameters, volume id could be arbitrary string:
[code]

**D

[2020-12-10 11:16] #488 closed

[2020-12-11 13:05] emiliodangelo opened #495 "azurefile-controller does not work on Ubuntu 20.04"
**What happened**:
After installing azurefile-csi-driver in a Kubernetes cluster, *csi-attacher* and *csi-resizer* containers (inside *csi-azurefile-controller pod) are crashing every 1 or 2 minutes with the following message:

*csi-attacher* log:
[code]

*csi-resizer* log:
[code]

The same behavior can be observed in *csi-azuredisk-controller* pod.

**What you expected to happen**:
The containers

[2020-12-11 13:09] andyzhangx commented on #495
it looks like csi-attacher and csi-resizer container cannot run on Ubuntu v20.04.1

[2020-12-11 13:09] emiliodangelo commented on #495
Should I open another issue for *azuredisk-csi-driver*?

[2020-12-11 13:11] andyzhangx commented on #495
I think you could open an issue in https://github.com/kubernetes-csi/external-attacher and https://github.com/kubernetes-csi/external-resizer

[2020-12-11 13:13] andyzhangx commented on #495
Ubuntu 18.04 should work now

[2020-12-11 13:20] emiliodangelo commented on #495
Didn't try yet on Ubuntu 18.04, but created a VM with that version and is using the same kernel: 5.4.0-1032-azure #33~18.04.1-Ubuntu SMP Tue Nov 17 11:40:52 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-12-11 13:24] andyzhangx commented on #495
our e2e test is on `Ubuntu 18.04.5 LTS   5.4.0-1032-azure`, it should work otherwise e2e test won't pass:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azurefile-csi-driver/492/pull-azurefile-csi-driver-e2e/1336671736728391680/build-log.txt

[code]

[2020-12-12 04:22] andyzhangx opened #496 "Improve csi-snapshotter ClusterRole"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/581

**Additional context**

[2020-12-12 10:24] #345 closed

[2020-12-16 13:48] andyzhangx commented on #484
fixed by https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/487

[2020-12-16 13:48] #484 closed

[2020-12-18 02:33] andyzhangx commented on #496
could you help? thanks. @dr0pdb

[2020-12-18 02:56] andyzhangx opened #498 "support large azure file share setting"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://docs.microsoft.com/en-us/azure/storage/files/storage-files-how-to-create-large-file-share

that setting only applies to standard storage account, and premium account already supports creating 100TB file shar by default.

**Describe alternatives you've considered**

[2020-12-18 08:39] edwardsp opened #500 "Azure file share is not deleted when the namespace is deleted"
**What happened**:

The SMB file share on Azure is not deleted when deleting a namespace.  This leaves resource on Azure even though the PVC is deleted.

**What you expected to happen**:

Any file shares should be deleted with the dynamic volumes when the dynamic volume is removed by deleting the namespace (as the PVC is deleted)

**How to reproduce it**:

**storageclass.yaml**
[code]

**pvc.yaml*

[2020-12-18 08:46] dr0pdb commented on #496
/assign

[2020-12-19 13:56] #496 closed

[2020-12-21 04:50] #318 closed

[2020-12-21 09:24] edwardsp opened #502 "Scale to multiple storage accounts with Azure files when storage limits are reached"
**Is your feature request related to a problem?/Why is this needed**

The Azure Files storage class currently uses the first storage account found matching the SKU that is requested in the resource group.  This limits the scalability of the storage class to a single storage account (which for Premium Azure Files is currently 100TB).

**Describe the solution you'd like in detail**

The storage clas

[2020-12-21 11:22] andyzhangx commented on #500
should be fixed by https://github.com/kubernetes/kubernetes/pull/97417, and only in-tree driver has such issue

[2020-12-21 11:25] andyzhangx commented on #502
need to get the exact error msg if file share creation failed due to 100TB limit on one storage account.

[2020-12-22 01:47] andyzhangx opened #503 "add statefulset e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/db64e62c099e104ebf4e14f416c04757c2b8c8bb/test/e2e/dynamic_provisioning_test.go#L588-L622

**Describe alternatives you've considered**

**Additional context**

[2020-12-22 14:31] dr0pdb commented on #503
/assign

[2020-12-26 00:30] #503 closed

[2020-12-27 11:19] dr0pdb commented on #201
This can be tackled once the Azure SDK supports the lease file. https://github.com/Azure/azure-storage-file-go/issues/50

[2020-12-30 13:20] #494 closed

[2021-01-02 12:43] harshika-kashyap commented on #253
/assign

[2021-01-05 02:02] michaelcourcy opened #517 "failed to provision volume with StorageClass "azurefile-csi": volume content source missing"
**What happened**:

When restoring a pvc from a snapshot the snapshot stay in pending state

[code]

When checking the status of the pvc I read the message `failed to provision volume with StorageClass "azurefile-csi": volume content source missing`
[code]

**What you expected to happen**:
the pvc should transition to bound state and content should be there

**How to reproduce it**:

Install
[code

[2021-01-05 05:39] andyzhangx commented on #517
@michaelcourcy restore from azure file snapshot is not supported yet: https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/136

[2021-01-05 09:31] michaelcourcy commented on #517
hi @andyzhangx thanks for the feedback. I closed the issue then.

[2021-01-05 09:31] #517 closed

[2021-01-05 16:33] dr0pdb commented on #154
/assign

[2021-01-08 02:46] andyzhangx commented on #502
detailed error:
[code]

[2021-01-09 13:47] andyzhangx commented on #115
kubernetes/kubernetes#96508 would be fixed by https://github.com/kubernetes/kubernetes/pull/97877, I think that's the last fix, migration test pass with PR: https://github.com/kubernetes/kubernetes/pull/97877

[2021-01-11 07:22] andyzhangx opened #525 "csi-resizer v1.1.0 sidecar container restarted"
**What happened**:
looks like it's related to leaderelection

[code]
detailed log: https://andydevdiag.blob.core.windows.net/public/csi-azurefile-controller-544cf7f897-xzzq4.log

[code]

[2021-01-11 11:40] #502 closed

[2021-01-11 12:49] dr0pdb opened #526 "add kubeletPath support in Helm chart"
Add `kubeletPath` support in Helm chart. Remove hardcodings from the chart and allow settings the below in values.

| Parameter                                         | Description                                                | Default                                                           |
|---------------------------------------------------|------------------------------------------------

[2021-01-11 12:50] dr0pdb commented on #526
/kind feature

[2021-01-11 13:57] #526 closed

[2021-01-11 14:53] #253 closed

[2021-01-11 15:20] queeno opened #528 "Support NFS shares with private endpoints"
**Is your feature request related to a problem?/Why is this needed**
The CSI driver should use a private endpoint for an NFS share, if available.

**Describe the solution you'd like in detail**
If a private endpoint has been provisioned in the storage account, this should be used to access the NFS share.

**Describe alternatives you've considered**
If it's impossible to automatically discover, the

[2021-01-12 08:18] andyzhangx commented on #528
it should already be supported, would you add a new parameter(`server`) in storage class:

Name | Meaning | Example | Mandatory | Default value
--- | --- | --- | --- | ---
server | specify Azure storage account server address | existing server address, e.g. `accountname.privatelink.file.core.windows.net` | No | if empty, driver will use default `accountname.file.core.windows.net` or other sovereig

[2021-01-12 09:42] #154 closed

[2021-01-14 12:01] andyzhangx commented on #426
it's done

[2021-01-14 12:01] #426 closed

[2021-01-23 01:43] msau42 opened #536 "Deprecate duplicate fields in volumeAttributes"
**Describe the solution you'd like in detail**

As discussed in https://github.com/kubernetes/kubernetes/pull/97877, `shareName` and `secret` volume attributes are unnecessary and can be derived from `volumeHandle` and `nodeStageSecretRef` respectively.

Using `nodeStageSecretRef` is preferable than `secret`, as the CSI driver does not need broad permissions to read secrets.

I think a similar iss

[2021-01-24 01:28] jayunit100 commented on #382
Any update here? Curious wether containerd support for multi arch windows images is production ready or not , I think I've seen similar issues w nanoserver

[2021-01-26 14:03] queeno commented on #528
Thanks for pointing this out. I managed to get this working.

[2021-01-26 14:03] #528 closed

[2021-01-28 05:26] andyzhangx commented on #382
@AbelHu do you know this issue? thanks.

[2021-01-28 05:45] AbelHu commented on #382
@marosset may have the info

[2021-01-28 14:53] abhiramani-iptiq opened #545 "Update example with static azurefile nfs share with kubernetes"
**Is your feature request related to a problem?/Why is this needed**
Update example with static azurefile nfs share with kubernetes.we need static share so we can create our share with our own naming conventions

**Describe the solution you'd like in detail**
need example with static azurefile nfs share with kubernetes.

**Describe alternatives you've considered**
using dymanic provisioning for no

[2021-01-28 14:59] andyzhangx commented on #545
it's here:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/pv-azurefile-nfs.yaml
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/pvc-azurefile-csi-static.yaml

[2021-01-28 15:15] abhiramani-iptiq commented on #545
Hi
do we still need to create storage class? because i see pv is also requires resource group and storage account name and below storage class also needs it so i see kind of duplicate to create both

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: azurefile-csi-nfs
provisioner: file.csi.azure.com
parameters:
  resourceGroup: mypoc-rg
  storageAccount: mypocfilesnfs
  protocol: n

[2021-01-28 16:15] abhiramani-iptiq commented on #545
yes tested works without creating StorageClass

[2021-01-28 16:15] #545 closed

[2021-01-28 18:11] marosset commented on #382
osVersion is missing from the above manifests.
osVersion is required for containerd to pull multi-arch images on windows.

See docker manifest inspect mcr.microsoft.com/oss/kubernetes/pause:3.4.1 which correctly sets image metadata.
{
   "schemaVersion": 2,
   "mediaType": "application/vnd.docker.distribution.manifest.list.v2+json",
   "manifests": [
      {
         "mediaType": "application/vnd.

[2021-01-28 18:18] marosset commented on #382
It looks like @chewong already addressed this issue with

https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/462

https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/462/files#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52R151-R156

Do these images just need to be rebuilt with these changes?

[2021-01-28 18:20] marosset commented on #382
Actually looks like v0.10.0 is fixed

 docker manifest inspect mcr.microsoft.com/k8s/csi/azurefile-csi:v0.10.0
{
   "schemaVersion": 2,
   "mediaType": "application/vnd.docker.distribution.manifest.list.v2+json",
   "manifests": [
      {
         "mediaType": "application/vnd.docker.distribution.manifest.v2+json",
         "size": 1165,
         "digest": "sha256:f46dda6e4c6e668b5c58ca9185a5ec8a1

[2021-01-29 00:33] andyzhangx commented on #382
thanks, I will try again on containerd cluster.

[2021-01-29 01:17] abhisheksinghbaghel commented on #382
@marosset issue is with the latest manifest list. vx.x.x ones are ok.
Potential fix for azuredisk-csi being discussed here https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/702

azureuser@abhib-dev-ubuntu-18:~/go/src/sigs.k8s.io/azuredisk-csi-driver/deploy$ docker manifest inspect mcr.microsoft.com/k8s/csi/azurefile-csi:latest{
   "schemaVersion": 2,
   "mediaType": "application/vnd.doc

[2021-01-29 01:26] junsaw opened #546 "Azure Files Static Mount failed: exit status 32"
I am using the azure file csi driver version *.10, using the Azure File Static configuration, I am unable to mount drive on the host/pod.

ounting arguments: -t cifs -o dir_mode=0777,file_mode=0777,uid=0,gid=0,mfsymlinks,nosharesock,vers=3.0,actimeo=30,<masked> //jrinfrak8ssa.file.core.windows.net/junior-k8s-influxdb /var/lib/kubelet/plugins/kubernetes.io/csi/pv/junior-k8s-influxdb/globalmount
Out

[2021-01-29 02:36] #449 closed

[2021-01-29 02:36] junsaw commented on #449
Thanks for the confirmation.

[2021-01-29 02:47] junsaw commented on #546
Configuration Error, my issue is my share got deleted. Please ensure that the share exists

[2021-01-29 03:22] andyzhangx commented on #546
close issue since it's resolved

[2021-01-29 03:22] #546 closed

[2021-01-29 05:34] andyzhangx commented on #380
in-tree driver fix: https://github.com/kubernetes/kubernetes/pull/96652

[2021-01-30 05:38] chunliu opened #548 "csi drivers don't work with the virtual node of AKS"
**What happened**:

When enabling the virtual node on an AKS cluster which has the csi drivers installed, the **csi-azuredisk-node** and **csi-azurefile-node** pods created for the virtual node would fail with status `ProviderFailed`.

![image](https://user-images.githubusercontent.com/2128551/106348125-db932180-62fe-11eb-93fc-67298ae21efb.png)

`kubectl describe pod` shows: `ACI does not support

[2021-01-30 13:06] andyzhangx commented on #548
CSI driver does not work on virtual node now, there is a feature request: https://github.com/virtual-kubelet/azure-aci/issues/88

[2021-01-30 13:08] andyzhangx commented on #548
BTW, which csi driver version are you running with? Node driver should not be scheduled on the virtual node:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/2796568606098d9cbb9f14ea34031c787136f172/deploy/csi-azurefile-node.yaml#L21-L29

[2021-01-31 05:16] chunliu commented on #548
The drivers were installed with `--aks-custom-headers EnableAzureDiskFileCSIDriver=true`. I guess the version is v0.9.0?
[code]
And there seems no affinity defined in it. `❯ kubectl get daemonset -n kube-system csi-azurefile-node -o jsonpath='{.spec.template.spec.affinity}'` returned nothing.

[2021-01-31 11:53] andyzhangx commented on #548
the AKS built-in CSI driver is still on v0.9.0, we will GA this feature in March with v1.0.0, stay tuned.

[2021-01-31 11:53] #548 closed

[2021-02-04 16:40] schmichri commented on #408
sad

[2021-02-05 13:34] andyzhangx opened #556 "improve ut coverage for controllerserver.go"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

The line in red is missing ut test coverage:
https://coveralls.io/builds/37362652/source?filename=pkg%2Fazurefile%2Fcontrollerserver.go

**Describe alternatives you've considered**

**Additional context**

[2021-02-08 10:06] #416 closed

[2021-02-09 21:59] nvnmandadhi commented on #556
@andyzhangx  I'd like to help with this, could you please help me understand what I'd be looking for here? this would be my first contribution :)

[2021-02-10 02:34] andyzhangx commented on #556
@nvnmandadhi the code in red in below link is not covered:
https://coveralls.io/builds/36899851/source?filename=pkg%2Fazurefile%2Fcontrollerserver.go

and you could refer to controllerserver_test.go file for writing ut, thanks.

[2021-02-10 02:49] nvnmandadhi commented on #556
Thanks @andyzhangx, started looking into it, will need some time to improve the coverage.

On another note, just curious if I need an AKS cluster to build and test the driver. Wondering about AZURE_CREDENTIAL_FILE.

[2021-02-10 03:39] andyzhangx commented on #556
if you only need to run ut, then you could skip setting AZURE_CREDENTIAL_FILE

[2021-02-10 08:10] rompom commented on #131
Hi @andyzhangx, do you think the support for podidentity will be feasible ?

I have this kind of architecture : 1 "client" per namespace, , 1 file share / namespace, 1 key vault / namespace

For now I'm using the secret store csi driver to glue everything (shortened version) :

1. Create the kv
2. Create the file share, store the keys in kv
3. Map the kv with podidentity to the secret store csi
4.

[2021-02-10 09:17] andyzhangx commented on #131
@rompom azure file driver could use k8s secret to access file share, it's not necessary depending on pod identity, here is an example: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/storageclass-azurefile-secret.yaml

[2021-02-10 09:29] rompom commented on #131
@andyzhangx sure, but my idea was more or less to not have to use k8s secrets at all if possible, and the pod identity was a pretty good candidate for this :)

[2021-02-10 12:29] andyzhangx opened #557 "[CSI migration] add inline volume e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Need to verify it works first and then add add inline volume e2e test
refer to https://github.com/Azure/AKS/issues/2108#issuecomment-776672612

**Describe alternatives you've considered**

**Additional context**

[2021-02-10 22:09] nvnmandadhi commented on #556
thanks @andyzhangx, looking into it now

[2021-02-10 22:45] nvnmandadhi commented on #556
/assign

[2021-02-11 06:53] andyzhangx commented on #498
similar to https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/436#issuecomment-696032989

[2021-02-11 07:05] andyzhangx opened #560 "No NodeGetVolumeStats in the testing logs"
**What happened**:
Need to find out why there are no NodeGetVolumeStats in the testing logs, azure disk driver has such logs:
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Oth

[2021-02-17 07:03] Jiawei0227 commented on #482
/close

[2021-02-17 07:03] #482 closed

[2021-02-20 04:08] rajdhandus opened #562 "csi-nfs : failed to create VHD disk"
I am trying to use CSI based NFS and encountering error.. using the below configs and seeing error.... Can you please help?

[code]

[code]

[code]

[2021-02-20 04:11] andyzhangx commented on #562
remove `fsType: ext4` and try again, NFS protocol does not support vhd disk

[2021-02-20 05:27] rajdhandus commented on #562
that worked.. thanks!

[2021-02-20 06:06] andyzhangx commented on #562
that's still a bug, need to do verification first.

[2021-02-23 03:20] nvnmandadhi commented on #556
merged a PR improving coverage.

[2021-02-23 07:20] andyzhangx commented on #562
would be fixed by https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/564

[2021-02-23 08:56] #562 closed

[2021-02-24 05:39] #475 closed

[2021-02-24 06:44] andyzhangx opened #565 "add subPath e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could change one e2e test with `subPath` mount

**Describe alternatives you've considered**

**Additional context**

[2021-02-24 06:45] andyzhangx opened #566 "add imagepullsecrets in helm chart"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-sigs/blob-csi-driver/pull/345

**Describe alternatives you've considered**

**Additional context**

[2021-02-24 06:47] andyzhangx opened #567 "Chart Enhancement - tolerations, nodeSelector, resources"
**Is your feature request related to a problem?/Why is this needed**

Please add options to configure tolerations, nodeSelector and resources blocks for pods launched by this chart.

**Describe the solution you'd like in detail**

Standard public chart value options for customizing/configuring workloads in various cluster configurations.

See `helm create` for the standard helm chart template.

co

[2021-02-25 07:55] andyzhangx opened #568 "add e2e test for static provisioning example"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

related PR: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/508
related example: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/pv-azurefile-csi.yaml

**Describe alternatives you've considered**

**Additional context**

[2021-02-25 20:13] TiloGit commented on #282
@andyzhangx  Please link guide from @ezYakaEagle442  on your how to page. Very useful for ARO instances.
https://github.com/ezYakaEagle442/aro-pub-storage/blob/master/setup-store-CSI-driver-azure-file.md

`oc create configmap azure-cred-file --from-literal=path="/etc/kubernetes/cloud.conf" -n kube-system`

[2021-02-25 22:55] TiloGit opened #569 "ARO: csi-azurefile-controller crash (NFS) panic: runtime error: invalid memory address or nil pointer dereference"
**What happened**:
Create first PVC with NFS storage class uses and both controller get to CrashLoopBackOff

**What you expected to happen**:
get my PVC with NFS

**How to reproduce it**:
Delete PVC and the CrashLoopBackOff stops

**Anything else we need to know?**:
Logs:  [csi-azurefile-controller-7db68c9c5c-j75jc-azurefile.log](https://github.com/kubernetes-sigs/azurefile-csi-driver/files/604616

[2021-02-26 01:26] andyzhangx commented on #569
crash is expected since you don't provide any cloud cloud credentials for the controller:
[code]

follow guide here for configuration now: https://github.com/Azure/OpenShift/issues/216

[2021-02-26 01:57] TiloGit commented on #569
I did set the config map, without that it wouldn't even deploy.

`oc create configmap azure-cred-file --from-literal=path="/etc/kubernetes/cloud.conf" -n kube-system`

[2021-02-26 02:53] andyzhangx commented on #282
@TiloGit thanks, I already added a ARO setup link in README page: https://github.com/kubernetes-sigs/azurefile-csi-driver/commit/1a733ff42a1005f9fcdbb4d22d2641c35d2c62d0

[2021-02-26 03:33] andyzhangx commented on #569
does your `cloud.conf` has following fields?
[code]

[2021-02-26 08:06] #443 closed

[2021-02-26 08:06] #444 closed

[2021-02-26 17:55] rajdhandus opened #570 "error while creating mount source path"
**What happened**: Not able to launch statefulset

**What you expected to happen**: Able to launch statefulset configured with NFS file mount

**How to reproduce it**: Launch multiple statefulsets back to back

**Anything else we need to know?**:

[code]

**Environment**:
- CSI Driver version: Version: v2.1.0-0-gb7a8fe9fe
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{M

[2021-02-26 19:01] TiloGit commented on #569
not sure, I assumed the ARO has it after using the CM.

I followed https://github.com/ezYakaEagle442/aro-pub-storage/blob/master/setup-store-CSI-driver-azure-file.md
And succefully got a SMB created. Now just sorting out NFS.

you can close this ticket or add a more graceful way of handling lack of cloud_conf.

Thanks for your help.

[2021-02-26 19:31] TiloGit opened #571 "ARO (NFS): subnets under resource group '123' was not found"
**What happened**:
SMB Works,
NFS Fails:

Error:
`The Resource 'Microsoft.Network/virtualNetworks/subnets' under resource group 'CL-EXT-OCP-NPRD-RG' was not found`

**What you expected to happen**: Get NFS PVC

**How to reproduce it**: Yes request new PVC

**Anything else we need to know?**: ARO has existing Network.
cloud-config
[code]

Logs:
[csi-azurefile-controller-7db68c9c5c-z8hj7-azurefile_r

[2021-02-26 19:55] TiloGit commented on #571
my guess is that the service account has no read access to the network/subnet
Also if I feed the subnet name via cloud-config "subnetName" do I use Worker or Master subnet of ARO?

[2021-02-27 01:23] #132 closed

[2021-03-01 07:44] aviorma opened #573 "[PV expansion]MountVolume.NodeExpandVolume failed : Expander.NodeExpand found CSI plugin kubernetes.io/csi/file.csi.azure.com to not support node expansion"
**What happened**:

Mount issue with expended PVC
MountVolume.NodeExpandVolume failed : Expander.NodeExpand found CSI plugin kubernetes.io/csi/file.csi.azure.com to not support node expansion

**What you expected to happen**:
expansion sucess

**How to reproduce it**:

Create a pvc from azurefile-csi
expend the pvc size
**Anything else we need to know?**:

**Environment**:
- CSI Driver version: bu

[2021-03-01 08:17] andyzhangx commented on #573
hi @gnufied, do you know in that condition the above error would happen? It failed here: https://github.com/kubernetes/kubernetes/blob/v1.18.14/pkg/volume/csi/expander.go#L80, while Azure File CSI driver does not implement `NodeExpand` and also it does not have `NodeServiceCapability_RPC_EXPAND_VOLUME` cap.

There is no such issue in k8s 1.20.2. Thanks.

[2021-03-01 08:25] aviorma commented on #573
it is happening when i am trying the expand my PVC with v1.18.14 AKS with CSI enabled with this
        --aks-custom-headers EnableAzureDiskFileCSIDriver=true

[2021-03-01 08:25] andyzhangx commented on #573
@aviorma could you provide full events of `kubectl describe pvc pvc-name`

[2021-03-01 08:27] aviorma commented on #573
`Events:
  Type     Reason                  Age   From                                 Message
  ----     ------                  ----  ----                                 -------
  Warning  ExternalExpanding       15s   volume_expand                        Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC.
  Normal   Re

[2021-03-01 08:28] aviorma commented on #573
1200 displayed with no Gi suffix

is it ok ?

[2021-03-01 08:36] andyzhangx commented on #573
o, you should resize pvc instead of pv, I just tried on aks 1.18.14, it works well:
 - `k edit pvc persistent-storage-statefulset-azurefile-nonroot-0` change `spec.resources.requests.storage` and then it should work:

[code]

[2021-03-01 08:45] aviorma commented on #573
As is sad it works
the value in the PV is

[code]

Is it ok ? or should you add GI ?

[2021-03-01 08:52] andyzhangx commented on #573
`1200` means `1200Gi` by default, so this is not an issue now, it works? How did you get the original error?

[2021-03-01 08:53] aviorma commented on #573
PV expansion directly ..

[2021-03-01 08:56] andyzhangx commented on #573
thanks, I see, I leave this question(support PV expansion) to @gnufied since he is feature owner

[2021-03-01 12:58] andyzhangx commented on #131
Agent node still needs account name & key to mount azure file, I think the question here is whether it’s necessary to store account key as a secret, answer is No.
There is parameter storeAccountKey(“true” by default) defined [here](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/driver-parameters.md) , so if you set as “false” in storge class, it won’t store account key as

[2021-03-01 18:19] gnufied commented on #573
does not sound like a bug. In this case the expansion happens entirely in control-plane and in external-resizer and kubelet plays no part in it, but since you expanded PV manually you ended up disrupting the state-machine we use. I don't think we support that operation.

[2021-03-01 20:20] TiloGit commented on #571
fixed missing , in cloud-config and added subnetName but similar issue.

[2021-03-02 20:07] TiloGit commented on #571
The SPN (aadClientId) has Contributor access rights to the entire subscription.
The SMB got created by by that SPN,
For NFS getting error:  ` Resource 'Microsoft.Network/virtualNetworks/CL-EXT-OCP-NET-NPRD-VNT' under resource group 'CL-EXT-OCP-NPRD-RG' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}`

Log:
[csi-azurefile-controller-7db68c9c5c-dsbnb-azurefile -

[2021-03-04 03:35] andyzhangx commented on #571
would you use `bring your own storage account` feature frist, try example here: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/v0.9.0/deploy/example/nfs

[code]

[2021-03-04 03:39] andyzhangx commented on #571
For your original error, could you make sure the following resource id exists? it's not permission issue.

[code]

[2021-03-04 18:05] nearora-msft commented on #270
/assign

[2021-03-05 01:06] TiloGit commented on #571
Hi Andy,

that is what I currently try.

here my class

[code]

[2021-03-05 01:22] TiloGit commented on #571
got it working. RG for VNET was different and needed to be fixed in cloud config.

[2021-03-05 01:22] #571 closed

[2021-03-05 05:49] #403 closed

[2021-03-07 05:36] #408 closed

[2021-03-08 12:47] BristolITDave opened #582 "Issue assigning a PV via a PVC to a Pod"
What I'm trying to do: Use Azure Files CSI with ext4 to allow ReadWriteMany operations to pods.
At the moment I've got a single volume file, a single pvclaim file, and a single app deployment.
In azure I get green ticks on the GUI and describe gives similar results.

**What happened**:
Error from pod creation - stuck on ContainerCreating

Events:
  Type     Reason       Age               From

[2021-03-08 12:54] andyzhangx commented on #582
ext4 fsType is actually a vhd disk, it only supports ReadWriteOnce, does not support ReadWriteMany

[2021-03-09 05:56] andyzhangx commented on #270
should add inline volume and pv/pvc e2e test in such scenario, follow guide here: https://docs.microsoft.com/en-us/azure/aks/azure-files-volume, may use yaml config to run test directly, that would be easier to implement or add more tests into https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/test/e2e/pre_provisioning_test.go

[2021-03-09 07:44] #200 closed

[2021-03-09 10:04] BristolITDave commented on #582
Ok thanks Andy - I'll close this because I'll have to go a different route. (Still an odd error message though!)

[2021-03-09 10:04] #582 closed

[2021-03-09 22:21] nearora-msft commented on #565
/assign

[2021-03-10 20:34] edreed opened #591 "Tests should use a dynamically generated SSH keyset for logging into a VM"
**Is your feature request related to a problem?/Why is this needed**

Currently, the sanity and integration tests create a virtual machine using a [hardcoded password](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/b704a3759acd3d789b20a5e73502ce1948f75d48/test/utils/azure/azure_helpers.go#L144) for the admin user. Besides being poor security practice, this prevents the tests from bei

[2021-03-11 07:20] #591 closed

[2021-03-18 21:33] chewong opened #600 "[in-tree storage driver] The specifed resource name contains invalid characters"
**What happened**:

Failing tests in https://testgrid.k8s.io/provider-azure-master-signal#aks-engine-azure-file

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2021-03-18 23:40] andyzhangx commented on #600
@nearora-msft could you take a look at this issue? thanks.
[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/aks-engine-azure-file-master/1372638203026083840/build-log.txt

[2021-03-19 18:25] gnufied opened #602 "Emit cloudprovider metrics for azurefile"
We should emit cloudprovider metrics for azurefile operations which are similar to what is reported by in-tree driver.

(Or if we are not going to emit these metrics anymore, we should deprecate them in k/k repo with a good reason)

[2021-03-20 00:26] Insighter2k opened #603 "Mounting error (2) - No such file or directory"
**What happened**:
I am trying to add a fileshare to my kubernetes environment via persistentVolume which ends in the following error

"mount error(2): No such file or directory Refer to the mount.cifs(8) manual page (e.g. man mount.cifs)"
The file is existing and secret is passed correctly

**What you expected to happen**:
Attaching volume and mounting the fileshare to the mount path

**How to re

[2021-03-20 13:36] andyzhangx commented on #603
could you try ssh to the agent node, and then mount manually: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/csi-debug.md#troubleshooting-connection-failure-on-agent-node

[2021-03-20 16:29] Insighter2k commented on #603
I would like to do that, but I am currently not aware of the credentials that are needed to login. Any hints ?

[2021-03-21 00:28] andyzhangx commented on #603
suppose you have kubeconfig, right? then try kubectl-enter: https://github.com/andyzhangx/demo/tree/master/dev#kubectl-enter

[2021-03-25 16:55] msau42 commented on #500
/reopen

The Kubernetes change is being reverted as it broke inline volumes

[2021-03-27 15:24] #600 closed

[2021-03-30 07:38] #380 closed

[2021-03-31 12:41] akshayn94 opened #606 "Support for additional parameters in Azure file storage class definition."
I am working on a POC to use Azure files on my Kubernetes cluster. I am dynamically creating the Azure files using Storage class and PVC. The storage class maps to an Azure storage account. We can specify only some properties for our storage account like region, resourceGroup, skuName, etc. in our storage class definition. Can we support adding additional properties like allowPublicBlobAccess, min

[2021-04-03 15:29] andyzhangx commented on #606
additional parameters could not be set if that storage account is created by this driver, while you could bring your own storage account and set in storage class(`storageAccount: YOUR_ACCOUNT_NAME`), by that way, you could set your wanted storage class.

[2021-04-03 15:31] #573 closed

[2021-04-03 15:32] andyzhangx commented on #570
is this still an issue now? how to repro this issue?

[2021-04-05 06:54] #565 closed

[2021-04-10 10:36] situzhiheng opened #610 "selft managed cluster mount azurefile failed"
What happened:
1. install csi follow https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-master.md
2. refer https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/e2e_usage.md#option2-pvpvc mount the existing azurefile to the pod and get the error message as below:
----------------
Events:
  Type     Reason                  Age

[2021-04-10 15:01] andyzhangx commented on #610
the error said `could not resolve address for testtool.file.core.chinacloudapi.cn`, do you know whether `testtool.file.core.chinacloudapi.cn` exists?

[2021-04-10 16:10] situzhiheng commented on #610
Sure, I have tried to mount it on the node, it's work.
![image](https://user-images.githubusercontent.com/30501125/114276672-45941980-9a5a-11eb-9dd2-5ca157fa7702.png)

[2021-04-11 08:57] andyzhangx commented on #610
I think dns resolution in the driver daemonset is broken on that centos node:
[code]

[2021-04-12 16:53] situzhiheng commented on #610
yes, it has worked again after re-install csi. But I still not understand why the driver broken suddenly.

[2021-04-12 20:42] sandaymin123 opened #614 "Ability to inject kubelet Path Better"
Is your feature request related to a problem?/Why is this needed
On custom K8 deployments on Azure, a different kubelet path is used other than the default /var/lib/kubelet but /var/data/kubelet instead. As a resullt, the default value is passed to the csi node driver to be used to mount the storage /var/lib/kubelet fails to perform the mounts as it does not have access to /var/data...

Describe t

[2021-04-13 03:02] andyzhangx commented on #614
pls try with `kubelet.linuxPath` using helm installation: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/charts

[2021-04-13 14:56] sandaymin123 commented on #614
Hi @andyzhangx  for File i see a  kubelet setting as a helm parameter, but what about for Azure Disk or Block..Is there a similar setting as we need to have users leverage both file and block devices

Thx for your reply!

cc: @dims

[2021-04-13 15:01] sandaymin123 commented on #614
Actually, I found the same setting on Azure Disk: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/charts

Thx Andy - I will test both out and let you know

[2021-04-15 13:22] jfcoz commented on #408
/reopen

[2021-04-19 13:51] #614 closed

[2021-04-19 15:30] MaxMelcher opened #619 "NFS rsize/wsize"
**Is your feature request related to a problem?/Why is this needed**
We want to transfer 50.000 small files (large php application) to nfs azure file storage. It takes 44min on a 100GB share.

**Describe the solution you'd like in detail**
we want to provide the rsize/wsize when mounting the nfs share to get more throughput with small files.

**Describe alternatives you've considered**
Alternative

[2021-04-20 13:02] josegob opened #620 "mount failed: special device /var/lib/kubelet/plugins/kubernetes.io/csi/pv/xxx/globalmount does not exist"
**What happened**:
After I have updated my AKS node pool to Kubernetes version 1.20.5, I'm not able to mount different NFS volumes at the same time in the same node.

**What you expected to happen**:
I should be able to create multiple pods with different NFS volumes at the same time similar to when my node pool was in Kubernetes version 1.19.7.

**How to reproduce it**:
Create a dummy pod with a

[2021-04-20 13:52] andyzhangx commented on #620
so this issue only exists in 1.20.5?

[2021-04-20 14:01] josegob commented on #620
@andyzhangx I would say yes because yesterday my AKS node pools was on verison 1.19.7 and it was working properly.
Any idea of a existing workaround? I have tried to recreate a AKS nodepool with version 1.19.7 but I got this message from the Azure Portal "We are unable to serve this request due to an internal error"

[2021-04-20 14:06] andyzhangx commented on #620
what's your storage class and pvc configs? does the NFS examples works in your cluster?
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/storageclass-azurefile-nfs.yaml
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/statefulset.yaml

[2021-04-20 14:15] josegob commented on #620
My storage class configuracion is the following:

[code]

My PVC config examples:

[code]
[code]

On the other hand, the mentioned examples work properly

[2021-04-20 14:31] andyzhangx commented on #620
`/var/lib/kubelet/pods/2c1ed1ad-5623-44dd-9fea-928f1bb3de09/volumes/kubernetes.io~csi/pvc-26944d95-e1b6-4fc6-89b2-34d4c4ff63ce/mount` is invalid in your agent node, not sure why? It's better log on to the node, and then run `mount | grep nfs | uniq` to take a look.

[2021-04-20 14:34] josegob commented on #620
Not sure if this the logs you are asking about:

[code]

[2021-04-20 14:36] josegob commented on #620
Not sure if this the logs you are asking about:

[code]

[2021-04-20 16:01] josegob commented on #620
I have been able to create a new AKS nodepool with vesion 1.19.7 as a workaround. Everything is working now as expected

[2021-04-22 11:13] vittico opened #621 "CIFS VFS: No writable handle in writepages rc=-22"
Hello

I keep seeing this message in dsmesg logs constantly.  This is an Openshift 4.6 installation on Azure, everything seems to work OK, no data loss or connection issues that we can tell, just this message keeps going on, any idea what it could be?

[code]

Other interesting lines

[code]

[code]

[2021-04-23 05:29] andyzhangx commented on #621
That means:
write was received for an invalid file handle.
What’s the kernel version running on this node?

[2021-04-23 07:43] vittico commented on #621
Hi @andyzhangx

[code]

Thanks!

[2021-04-26 18:02] nearora-msft commented on #436
/assign

[2021-04-27 01:48] andyzhangx commented on #619
try below mount options, However a 100 GiB share is way too small, hitting throttling

[code]

[2021-04-27 15:44] RenaShahMSFT commented on #619
Hi Max

There is also some information available in the performance troubleshooting tips - https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/csi-debug.md#troubleshooting-performance-issues-on-azure-files

Thank You
Rena Shah

[2021-04-28 11:34] #619 closed

[2021-04-28 22:17] TaharInfo opened #632 "azurefile-csi StorageClass not created"
I want to enable csi-driver in my AKS cluster using the helm charts (v1.1.0) via Terraform, it creates the necessary pods (csi-azurefile-node and csi-azurefile-controller), but if I understand, it should create two additional StorageClasses :
- `azurefile-csi`
- `azurefile-csi-premium`

This should be used in my `Persistent Volume Claim` to create automatically the PVs and storage accounts :
`stor

[2021-04-29 03:28] andyzhangx opened #633 "support create storage account with private endpoint by the driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

support create storage account with private endpoint by the driver
Current behavior:
user should create storage account with private end point, and then specify storage account and private end point in storage class, here is an example:
[code]

**Describe alternatives you've consid

[2021-04-29 14:02] #456 closed

[2021-04-30 13:41] andyzhangx commented on #632
you could install latest csi driver version using helm chart, while you still need to create the above two storage classes by your own.

[2021-04-30 18:50] Jiawei0227 commented on #602
Hey @andyzhangx , any updates on this? Is this already exists in today's csi driver implementation or is this something we should work on?

[2021-05-02 23:28] #485 closed

[2021-05-03 01:50] andyzhangx commented on #620
I hit the same transient issue on Azure File(SMB) mount, as I could observe, it only happens in k8s v1.20 in a little possibility, not sure what's wrong(rerun the test usually works):
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azurefile-csi-driver/642/pull-azurefile-csi-driver-e2e-vmss/1388861197100519424/build-log.txt

[code]

it's similar to this issue

[2021-05-03 02:31] andyzhangx commented on #620
I think it's related to https://github.com/kubernetes/kubernetes/pull/88759/files#r624850275, and only broken from k8s 1.20

[2021-05-03 06:14] josegob commented on #620
Thanks for check it, @andyzhangx . What's your recommendation on this? Should I keep my nodepool in K8s v1.19.7 until there is an available fix?

[2021-05-03 12:22] andyzhangx commented on #620
Yes, I will keep tracking this issue.

[2021-05-03 12:29] TaharInfo commented on #632
Thanks, it works.

[2021-05-03 14:31] andyzhangx commented on #620
@josegob I found I could not repro this issue in my k8s 1.20.5 cluster, could you provide the exact detailed config including the pod configs? It's better as detailed as possible, I tried creating a few pods with different NFS volumes, has no luck to get the repro, thanks.

[2021-05-04 04:09] #436 closed

[2021-05-04 07:55] josegob commented on #620
Hello @andyzhangx
The storage class used to create the NFS is the following:
[code]
Volume pod configuration:
[code]
PVC config:
[code]

Not sure if you need any extra configuration. If so, please let me know and I will try to provide you with it.

[2021-05-04 07:58] andyzhangx commented on #620
@josegob does that issue repro stable on your AKS v1.20.5 cluster?

[2021-05-04 08:08] josegob commented on #620
Currently I have my nodepool on AKS v1.19.7 along with AKS cluster on v1.20.5. I would have to create a new nodepool with v1.20.5 in order to try to repro this issue again. Do you need me to try to repro it again?

[2021-05-04 16:03] jsturtevant opened #646 "AzureFile CSI Driver End-to-End Tests.Dynamic [kubernetes.io/azure-file] [file.csi.azure.com] [Windows] Provisioning tests failing"
**What happened**:

The following tests are failing with error:

[code]

and

[code]

[code]

Examples:
https://testgrid.k8s.io/provider-azure-master-signal#capz-azure-file-machinepool
https://testgrid.k8s.io/provider-azure-master-signal#capz-azure-file
https://testgrid.k8s.io/provider-azure-1.20-signal#capz-azure-file
https://testgrid.k8s.io/provider-azure-1.20-signal#capz-azure-file-machinepool

[2021-05-04 16:28] chewong commented on #646
For `enableLargeFileshares`, looks like it's fixed by https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/645.

For
[code]
I feel like there is a bug in CAPZ. We set vmss replicas to 2 but it has 3 worker nodes. For example in https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/capz-azure-file-machinepool-1-19/1388742406299455488:
[code]
Looks like the node was eventually removed but the

[2021-05-04 18:05] jsturtevant commented on #646
these tests are labled `[windows]` but don't see any windows nodes there. I think that is a bigger issue?

[2021-05-04 18:24] chewong commented on #646
By default, all the test cases can be run on a Linux node. The `[windows]` label indicates that it can be run on a windows node as well

[2021-05-05 14:37] #620 closed

[2021-05-07 17:39] chewong opened #651 "CVEs for v1.2.0"
[code]

[2021-05-07 22:01] sozercan commented on #489
@andyzhangx bumping this since CRD v1beta1 is removed in upcoming v1.22

[2021-05-08 09:58] andyzhangx commented on #651
@chewong thanks, do you have experience how to fix such issue? I think some packages in this Dockerfile should be replaced: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/pkg/azurefileplugin/Dockerfile
cc @andyliuliming

[2021-05-08 09:59] andyzhangx commented on #651
looks like we need a more secure debian base image

[2021-05-08 13:11] #489 closed

[2021-05-10 16:37] sozercan commented on #651
yes, base image needs to be updated to `buster-v1.6.0` and later

[2021-05-10 16:41] chewong commented on #651
You can also manually patch individual packages with `RUN clean-install <package name>` in the Dockerfile.

[2021-05-11 07:55] #651 closed

[2021-05-11 08:16] andyzhangx commented on #651
@sozercan thanks, `buster-v1.6.0` works, only one issue found, I think `v0.21.0` is equal to k8s `v1.21.0` client, that should be wrong version check.

[code]

[2021-05-12 08:00] andyzhangx commented on #498
already supported in v1.3.0

[2021-05-12 08:00] #498 closed

[2021-05-15 07:57] andyzhangx opened #655 "add image security scan tool(trivy) test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

related to https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/651

**Describe alternatives you've considered**

**Additional context**

[2021-05-15 12:46] #429 closed

[2021-05-17 20:39] chewong opened #659 "[failing-test] should use a pre-provisioned volume and mount it by multiple pods"
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-azure-file-windows-containerd/1394082535075483648

[2021-05-18 13:33] #659 closed

[2021-05-21 09:08] beaverdevtools opened #665 "Host OS can't find files in mount NFS"
Hello All,

I created a StorageClass, PVs and PVCs, on an AzureFile NFS share by following this tutorial: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/nfs

 It works great on PHP-FPM pods, but it looks like there is a latency or indexing issue.
On my PHP app (Magento2) I create a product and add an image. Product created and image uploaded to the php pod in nf

[2021-05-21 16:15] RenaShahMSFT commented on #665
Hi @beaverdevtools  - I am the product manager on Azure FIles NFS. We can look into your issue. Could you please pm me your account details and repro timestamp at rena[dot]shag[at]microsoft[dot]com

[2021-05-21 18:26] #665 closed

[2021-05-21 18:33] beaverdevtools commented on #665
Hello @RenaShahMSFT  , thank you for your proposal, but I think I sent my support question in the wrong place. My bad.
Never the less, last week I managed to make my php app work using azurefile nfs shares. The php command chmod() was working great but since wednesday, i had to move from NFS to standard azureFile, because of this "chmod() file not found issue". Did something changed this week on t

[2021-05-23 04:35] #557 closed

[2021-05-23 06:38] andyzhangx opened #668 "FAILED External Storage [Driver: file.csi.azure.com] [Testpattern: Dynamic PV (default fs)] subPath should be able to unmount after the subpath directory is deleted [LinuxOnly]"
**What happened**:

**What you expected to happen**:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azurefile-csi-driver/667/pull-azurefile-csi-driver-external-e2e/1396330790341578752/build-log.txt

[code]

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. f

[2021-05-24 14:01] andyzhangx commented on #668
related to issue: https://github.com/kubernetes/kubernetes/issues/97031

[2021-05-25 03:52] RenaShahMSFT commented on #665
@beaverdevtools in case you still have the repro of this issue, please drop me a line. We would love to investigate and get a root cause of this issue.

[2021-05-25 05:34] vlaguduva opened #673 "Kubernetes Pods lose connection after Azure Storage Account Failover."
**Is your feature request related to a problem?/Why is this needed**

Pods are connected to a Azure Storage Account (with RA-GRS replication) one region; when the failover occurred on that storage account to move the corresponding replication, pods lost the connectivity; Error message received is "Host is down."
**Describe the solution you'd like in detail**
Pods should reconnect automatically.

*

[2021-05-26 12:04] #201 closed

[2021-05-28 07:03] andyzhangx commented on #480
actually this is already supported in both PV/PVC and inline volume configs in latest version:
 - PV config
[code]
 - inline volume config
[code]

[2021-05-28 07:03] #480 closed

[2021-05-28 18:16] jmajoor opened #680 "Volume mount fails as it looks for secret in default namespace"
I use an azureFile volume mount, that suddenly fails after migration to AKS 1.19 (from 1.18).

My volume definition specifies a secretName, which is located in the same namespace as the pod requiring this volume.
However I am now getting an error that it can't find `default/<secret name>`.

There is some mentioning of a secretNamespace field, but in io.k8s.api.core.v1.AzureFileVolumeSource there i

[2021-05-29 00:56] andyzhangx commented on #680
related to this issue: https://github.com/Azure/AKS/issues/2108#issuecomment-849619104, pls check whether the fixed version has been rolled out to your region, thanks.
fixed versions(`1.21.1`, `1.20.7`, `1.19.11`, `1.18.19`)

[2021-05-29 00:57] andyzhangx commented on #680
[code]

[2021-05-29 01:04] jmajoor commented on #680
Thanks for the quick response. Sorry I didn't notice that it had already been reported.
This was in westus2, which unfortunately doesn't have the fix yet, but hopefully soon (will work around it until then).

[2021-05-29 01:04] #680 closed

[2021-05-29 14:47] andyzhangx opened #682 "cannot inherit group id(gid) from parent directory in Azure File NFS"
**What happened**:
`chown` on parent directory on NFSv4 file share, while subdirectory would still has `root` group id. Make following fsGroup tests fails:

 - asking for `grpid` setting in Azure File NFS
[code]

 - `chown` behavior on Azure File NFSv4
[code]

 - `chown` behavior on Blob NFSv3
[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azurefile-csi-driver/

[2021-05-31 20:27] dhilipkumars opened #687 "Output: mount error(2): No such file or directory"
**What happened**:
Error when Pod mounts a provisioned Volume

[code]

The storage class looks like below
[code]

The AKS’s MSI has a contributor access to the StorageAccount so its able to create Azure File Shares when we have a PVC using the above Storage Class, but when we create a pod that mounts the volume then the above error happens.

is the CSIDriver suppose to create the below path in AKS

[2021-05-31 20:29] dhilipkumars commented on #687
cc: @andyzhangx

[2021-06-01 00:56] andyzhangx commented on #687
can you try mount manually on the agent node? follow:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/csi-debug.md#troubleshooting-connection-failure-on-agent-node

[2021-06-01 15:22] #632 closed

[2021-06-02 10:47] josegob opened #692 "Provision volume failed: invalid parameter "csi.storage.k8s.io/pvc/name" in storage class"
**What happened**:

A PVC with a Azure file storage class is not being provisioned therefore, the pod is stuck in pending state

**What you expected to happen**:

The PVC should be provisioned without any issue and then the pod should change its state.

**How to reproduce it**:

Create a Storage Class as follow:
[code]

Then create a deploy:
[code]

If you describe the PVC you get the following:

[2021-06-02 10:55] andyzhangx commented on #692
try `kubectl edit deployment csi-azurefile-controller -n kube-system` to set `imagePullPolicy: Always`, you are not pulling latest image on that node:

[code]

[2021-06-02 11:22] josegob commented on #692
I changed the deployment imagePullPolicy and now its working as expected.
Any possibility to set the imagePullPolicy by using the script installation?

Thank you as always, Andy. You may close this issue

[2021-06-02 11:25] andyzhangx commented on #692
append `--set image.azurefile.pullPolicy=Always` in chart installation.

[2021-06-02 11:25] #692 closed

[2021-06-06 13:09] #566 closed

[2021-06-08 13:29] andyzhangx commented on #687
is this issue resolved? pls provide driver logs on that node if issue still happens, thanks.

[2021-06-09 03:05] #115 closed

[2021-06-09 13:47] Flowman opened #695 "Change node tolerations"
**Is your feature request related to a problem?/Why is this needed**

It would be good if we could change tolerations for the csi-azurefile-node.yaml. As is would be nice to control if it should be created on a master node or not, where it will never be used.

https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/780e01bbb7e4891bc8cce0289f26e69facaad5b8/charts/latest/azurefile-csi-driver/te

[2021-06-09 13:50] andyzhangx commented on #695
thanks, that would be a nice to have feature.

[2021-06-10 08:52] #525 closed

[2021-06-11 13:45] mmillard0 opened #696 "updating azure file csi driver to 1.3.0"
**What happened**:
When I try to update azure file csi driver to 1.3.0 version, I receive an error updating csi-azurefile-driver.yaml

raised error:
##[error]The CSIDriver "file.csi.azure.com" is invalid: spec: Invalid value: storage.CSIDriverSpec{AttachRequired:(*bool)(0xc0099129b8), FSGroupPolicy:(*storage.FSGroupPolicy)(0xc00a5c76e0), PodInfoOnMount:(*bool)(0xc0099129b9), VolumeLifecycleModes:[

[2021-06-11 14:00] andyzhangx commented on #696
[code]

[2021-06-11 14:39] mmillard0 commented on #696
Ok, thank for your quick answer.
That's what I have done in my lab cluster but I wanted to be sure that it doesn't have impacts for my other clusters (dev, tst, acc and prd). Could you confirm that uninstall the csi driver won't impact my production cluster during the deployment (We are using azure devops to deploy) ?

[2021-06-11 18:28] Jiawei0227 commented on #602
Hey @andyzhangx, any updates?

[2021-06-12 02:55] andyzhangx commented on #602
it's already there like this: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/metrics

in-tree driver metrics is already in csi driver metrics since they use same lib:

[code]

[2021-06-12 02:55] #602 closed

[2021-06-12 12:32] Flowman opened #700 "Kubernetes secret"
Same as https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/884

**What happened**:

Cannot read the kubernetes secret

**What you expected to happen**:

Read the kubernetes secret.

**How to reproduce it**:

Create the secret from the guide.
Use the helm chart.

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: v1.3.0
- Kubernetes version: v1.21.1+k3s1

[2021-06-12 12:34] andyzhangx commented on #696
@mmillard0 if you don't have azure file volume mounting/unmounting at that time, there is no impact if you uninstall csi driver, existing azure file mount is still valid.

[2021-06-12 12:34] #696 closed

[2021-06-12 13:45] andyzhangx opened #701 "add MinimumTLSVersion parameter"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Current default version is `TLS1_0`, should add `TLS1_1`, `TLS1_2`

https://github.com/kubernetes/kubernetes/blob/e52b7be7d719673a1a5ae28ad3bb0d6db58d35ec/vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/models.go#L532-L533

**Describe alternatives

[2021-06-12 14:46] #700 closed

[2021-06-14 02:43] #695 closed

[2021-06-15 08:13] andyzhangx commented on #695
added this new feature in v1.4.0

[2021-06-16 16:33] gnufied opened #708 "Implement gid support as per CSI 1.5"
We should implement gid support as CSI 1.5 - https://github.com/container-storage-interface/spec/pull/468

xref https://github.com/kubernetes/enhancements/issues/2317

[2021-06-17 01:43] andyzhangx commented on #708
thanks @gnufied for the efforts!

[2021-06-18 16:10] Schildkroete23 opened #710 "I cannot create a PV dynamically without a cloud provider config file"
**What happened**:
I want to generate a PV dynamically without providing a cloud provider config file.  For this I provided a secret with the credentials of an exisiting Storage Account in Azure as describe [here](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/e2e_usage.md#option2-bring-your-own-storage-account). Unfortunately I got the following error message f

[2021-06-19 14:31] andyzhangx commented on #710
thanks, I fixed in master branch now

[2021-06-19 15:12] Schildkroete23 commented on #710
Thanks heaps Andy!

[2021-06-20 02:43] #710 closed

[2021-06-22 03:07] #536 closed

[2021-06-22 07:33] andyzhangx opened #712 "check whether this driver works well in non-rbac cluster"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2021-06-22 12:01] ezYakaEagle442 opened #714 "NFS Dynamic provisionniong params doc to be updated"
The [docs](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/driver-parameters.md#static-provisionbring-your-own-file-share) provides wrong params :  volumeAttributes.XXXXXXXXXXXXXX
[code]

**What happened**:

[code]
**What you expected to happen**:

Updatre the docs please
[code]

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver v

[2021-06-22 12:23] andyzhangx commented on #714
correct storage class parameters for nfs protocol should be like this:
[code]

this driver can only use azure file management api to create nfs file share, account name & key is only for smb protocol, using account name & key to create smb file share is called data plane API, only smb protocol supports data plane API

let me update the doc a little to explain this.

[2021-06-22 12:54] ezYakaEagle442 commented on #714
[code]

[code]

[code]

[2021-06-22 12:54] #701 closed

[2021-06-22 13:46] ezYakaEagle442 commented on #714
In the Cloud config I added : vnetResourceGroup, vnetName, subnetName
[code]

[code]

[2021-06-22 14:13] #714 closed

[2021-06-22 16:01] ezYakaEagle442 commented on #714
I have reinsatlled the Driver, now hit the error below :
[code]

[2021-06-23 01:07] andyzhangx commented on #714
I think you are not using lasting image, try `kubectl edit deployment csi-azurefile-controller -n kube-system`, set
[code]

[2021-06-23 05:27] ezYakaEagle442 commented on #714
@andyzhangx indeed, the content of the yaml was :

image: mcr.microsoft.com/k8s/csi/azurefile-csi:latest
        imagePullPolicy: IfNotPresent

[2021-06-23 05:50] ezYakaEagle442 commented on #714
@andyzhangx now the PVC shows the error below :
[code]

[2021-06-23 06:40] ezYakaEagle442 commented on #714
[code]

[code]

[csi-azurefile-controller.log](https://github.com/kubernetes-sigs/azurefile-csi-driver/files/6699538/csi-azurefile-controller.log)

[2021-06-23 10:27] ezYakaEagle442 opened #716 "Add end to end tests with ARO"
Azure RedHat OpenShift uses CoreOS and is a first-party service in Azure.
The CSI drivers pre-req and examples must be not only cleared documented but also tested through end to end tests

see also:
- [https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/898](https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/898)
- [https://github.com/kubernetes-sigs/blob-csi-driver/issues/4

[2021-06-23 10:27] ezYakaEagle442 opened #717 "Add end to end tests with Mariner"
@andyzhangx

[2021-06-23 10:33] ezYakaEagle442 opened #718 "Update docs for NFS on ARO"
a correct SC using Azure Storage Private-Endpoint looks like this :
[code]
The Driver parameters [doc](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/driver-parameters.md) refer only to PV, this is confusing.

Also when creating the Storage Acccount + FileShare **before** creating the SC, PVC and Pod in K8S ( tested with ARO), the deployment fails with

Warning Provisioni

[2021-06-23 10:47] ezYakaEagle442 commented on #718
Also regarding Azure Cloud Config :

azure-cloud-provider.yaml template :
[code]

**/!\ IMPORTANT** :
- the resourceGroup is the ARO Cluster RG
- both resourceGroup **AND** vnetResourceGroup must be specified
- vnetName **AND** subnetName  must be specified

[code]

[2021-06-23 10:51] ezYakaEagle442 commented on #718
Also, the doc should descibe the required Role :
[code]

[2021-06-23 12:08] ezYakaEagle442 opened #719 "Add end to end tests with Mariner"
See also :
- [https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/899](https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/899)
- [https://github.com/kubernetes-sigs/blob-csi-driver/issues/465](https://github.com/kubernetes-sigs/blob-csi-driver/issues/465)

@andyzhangx

[2021-06-25 18:30] anzhang1 opened #720 "Helm install failed due to unmarshal errors: duplicate tolerations keys"
**What happened**:
We were trying to deploy the CSI Driver Helm Chart using Flux. However, the installation failed failed with the following error message:
[code]
The manual `helm install` command still works.

**What you expected to happen**:
Expected Flux to successfully deploy the Helm Chart

**How to reproduce it**:
Create the HelmRelease via flux within a Kubernetes cluster:
[code]
The HelmRe

[2021-06-27 07:30] #720 closed

[2021-06-28 02:55] #382 closed

[2021-06-30 01:39] #633 closed

[2021-06-30 13:05] dhilipkumars commented on #687
sorry can be closed now.

[2021-06-30 13:06] dhilipkumars commented on #687
the issue was storage account was not reachable from node.

[2021-06-30 13:06] #687 closed

[2021-07-01 00:03] nearora-msft commented on #560
/assign

[2021-07-02 21:07] jabbera opened #726 "Inline mount as cluster identity"
I'd like to be able to use the cluster identity for inline mounts. I'm being forced to specify the account key in a secret which is not ideal IMO.

[2021-07-03 02:28] andyzhangx commented on #726
inline volume only supports reading account key from secret in **same** namespace, it does not support cluster identity, that's by design, otherwise that's a security hole that one pod in one namespace could access any storage account that current cluster identity could access.

[2021-07-06 21:38] jabbera commented on #726
Thanks!

[2021-07-06 21:38] #726 closed

[2021-07-07 14:24] mmillard0 opened #731 "MountVolume.SetUp failed : special device /var/lib/kubelet/plugins/kubernetes.io/csi/pv/xxxxx/globalmount does not exist"
**What happened**:
We have a deployment of 3 pods for high availability (using TopologySpead Constraints), one pod on each zone (we have 3 zones).
Pods states:
<pre><code>NAME                                 STATUS
wso2ei-deployment-8688d6d4df-xw47d   Pending
wso2ei-deployment-8688d6d4df-l7xbr   Running
wso2ei-deployment-8688d6d4df-pffzp   Running</code></pre>

One of the pods stays in pending sta

[2021-07-07 14:28] jabbera opened #732 "Ephemeral mounts causing pod startup delay"
**What happened**: 2 minute delay starting pod when using ephemeral mount

**What you expected to happen**: No delay

**How to reproduce it**: Use ephemeral mount with this configuration:

[code]

**Anything else we need to know?**:

Notice 2 minute delay in log!

[code]

**Environment**:
- CSI Driver version: 1.4.0
- Kubernetes version (use `kubectl version`): AKS 1.20.5
- OS (e.g. from /etc/os-r

[2021-07-07 17:39] jabbera opened #733 "Ephemeral mounts not respecting dir_mode and file_mode"
**What happened**: For Ephemeral mounts permissions are always 777 instead of what is specified in mount options:

**What you expected to happen**: dir_mode and file_mode to be respected.

**How to reproduce it**: Use inline demo but change mount options

[code]

**Anything else we need to know?**:

As you can see in this log, the request is for 700 but the mount is for 777. As you can see there a

[2021-07-07 20:54] nearora-msft commented on #733
/assign

[2021-07-08 01:48] andyzhangx commented on #732
the csi inline volume only supports following 3 parameters in `volumeAttributes`, it actually ignores the other parameters, could you try `secretName` instead:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/05db0f7cffb0494cedf013f80c716e756b40be97/deploy/example/nginx-pod-azurefile-inline-volume.yaml#L21-L26

[2021-07-08 01:56] jabbera commented on #732
@andyzhangx I don't understand. I can't specify a storage account? Does that mean this only works with the managed storage account?

It works BTW, just has the crazy delay.

[2021-07-08 03:46] #733 closed

[2021-07-08 03:53] andyzhangx commented on #732
@jabbera did you have the complete `/NodePublishVolume` node driver logs? I don't think it would work.
I will propose a PR to forbid other fields in inline volume parameter list.

[2021-07-08 04:29] jabbera commented on #732
I'll send them tomorrow. Please dont! I still don't understand why you would want to restrict this feature to the managed storage account by aks. Why can't I specify an arbitrary storage account? We don't use the managed account for anything so we can delete and recreate the cluster as needed. Storing persistent data in that account would be bad for us.

[2021-07-08 05:26] andyzhangx commented on #732
`azure-secret` should be created by user and the storage account should be managed by user also.
There is a security issue if user could just specify a storage account in pod config, storage account could only be specified by storage class or PV which is managed by admin.

[code]

[2021-07-08 11:24] jabbera commented on #732
I need forgetting the account can be in the secret. Will try today.

[2021-07-21 13:54] TaharInfo opened #742 "1 node(s) didn't have free ports for the requested pod ports (csi controller replicas)"
I deployed the CSI Driver on my AKS cluster with Terraform, but I had this error :

`1 node(s) didn't have free ports for the requested pod ports`

because I have ONE system node, while in the helm chart it's indicated two (2) controller pod's replicas that apparently use the same health and metrics ports :

image: mcr.microsoft.com/k8s/csi/azurefile-csi:latest
Ports: healthz:29612,metrics:29614

[2021-07-21 13:58] andyzhangx commented on #742
you need to delete the old controller pod when updating since you only have one node running controller pod. The main dependency is on `hostNetwork: true`, if your node is not using MSI(Managed Identity), it's ok to remove `hostNetwork: true` in the deployment.
I will add a customization for `controller.hostNetwork` setting in helm install later.

[2021-07-21 13:59] andyzhangx commented on #742
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/0e088bd2b744f8acc355073c70c4d42f7b8aa3fc/deploy/csi-azurefile-controller.yaml#L16-L17

[2021-07-22 08:53] TaharInfo commented on #742
I didn't understand why these ports are fixed and not dynamic.
With a single system node, the problem is not only on the update but even on the first deployment of csi driver,
and I suppose that even with 2 nodes, we cannot do an update as it will create a 3rd pod before deleting the old one (port conflict on one of the system nodes)

In my case as I only have one system node, it doesn't work beca

[2021-07-22 09:14] andyzhangx commented on #742
the issue is on `hostNetwork: true` setting, if that value is set as false, there won't be any issue. and you could `--set controller.metricsPort=xxx --set controller.livenessProbe.healthPort=xxx` to specify different port num in every version upgrade.

BTW, not sure how to assign a random port num in helm deployment.

[2021-07-22 09:15] #742 closed

[2021-07-24 12:21] andyzhangx commented on #731
does this issue still repro? If yes, pls provide driver logs on that node by: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed, it may be related to this similar issue: https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/620, which is caused by volumeid conflict between two PVs.

[2021-07-24 12:22] andyzhangx commented on #732
let me know if there is still issue, close it for now.

[2021-07-24 12:22] #732 closed

[2021-07-26 21:16] #568 closed

[2021-07-27 00:18] #569 closed

[2021-08-03 00:43] fraenkel opened #753 "Could not mount using dynamic volumes across namespaces"
**What happened**:
Deployed our setup that works fine on 1.20.7 but fails on 1.21.2.

[code]

We have a storage class that looks like:
[code]

Originally the provisioner was `kubernetes.io/azure-file` and there was no secretNamespace.
Without the secretNamespace, it csi-azurefile-node was failing trying to get the secrets, so it was added and we hit this problem.

**What you expected to happen**:

[2021-08-03 01:01] andyzhangx commented on #753
can you share driver logs on agent node, follow by: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

[2021-08-03 01:27] fraenkel commented on #753
redacted/replaced details:

the following is just repeated
[code]
[code]
[code]
Upgraded to 1.5, same issue.  ^^ is all from 1.5

[2021-08-03 01:42] andyzhangx commented on #753
have you created a persistent volume called `shared-nsB` in your cluster?

[2021-08-03 01:54] fraenkel commented on #753
There is a PV for both shared in nsA and shared-nsB but I did not create either.
The PV for shared is named `pvc-82fbbca3-e300-4bb2-84cd-58e3155402b9`
The PV for shared-nsB is named `shared-nsB`

The annotation in shared states:
`pv.kubernetes.io/provisioned-by: file.csi.azure.com`
whereas for shared-nsB says:
`pv.kubernetes.io/bound-by-controller: "yes"`

The volume attributes are the same for bo

[2021-08-03 02:01] fraenkel commented on #753
Hmm, I just found some code which attempts to copy a PVC from one namespace to another which does the PV creation which is how I end up with Delete vs Retain.
Wonder if I should just skip this and see what breaks instead.

[2021-08-03 02:06] fraenkel commented on #753
The trick we pull is to create the PV in nsA, clone the PVC from nsA to nsB but drop the claimRef. So we have all the volumeAttributes.
This did work prior to 1.21 but no longer does.

[2021-08-03 14:35] fraenkel commented on #753
By properly creating a second PV as static with the details from the dynamic PV everything seems to work.

[2021-08-03 14:35] #753 closed

[2021-08-04 16:07] nearora-msft commented on #708
/assign

[2021-08-07 00:17] #270 closed

[2021-08-10 09:47] rlaveycal commented on #732
Just a note for future readers. Because the driver caches access keys the inline option will work if you specify `storageAccount` as long as the access keys have been retrieved by a previous PV creation.

[2021-08-11 06:25] #731 closed

[2021-08-14 17:27] MohammadAlaviComplion commented on #517
The error message should be more descriptive.

[2021-08-15 02:49] #712 closed

[2021-08-18 01:42] #603 closed

[2021-08-20 22:13] Jiawei0227 commented on #682
Is this only on nfs? What about CIFS?

[2021-08-20 22:20] Jiawei0227 commented on #668
Has this get fixed?

[2021-08-21 03:11] andyzhangx commented on #682
@Jiawei0227 track this issue for cifs fsGroup setting, would be fixed in 1.22 release cycle.
https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/708

[2021-08-21 03:12] andyzhangx commented on #668
no, it's upstream issue, not related to this specific driver.

[2021-08-23 04:34] #708 closed

[2021-08-25 07:39] gmcbrien opened #774 "[openshift] oc get pv / pvc shows wrong capacity"
**What happened**:

We deployed a PV using azurefile-csi driver, which dynamically provisioned a new Azure 'File Share' of size 600Gi. The underlying PV was also provisioned.
Due to space constraints, we had to resize this to 1 Terabyte. This was done by editing the PVC directly, using oc edit, and entering 1Ti.

[code]

The fileshare in Azure portal reflects the new 1Ti size. The filesystem in th

[2021-08-25 07:50] andyzhangx commented on #774
looks like it's a display issue with `oc` command since underlying size `"required_bytes":1099511627776` is passed and handled correctly. What about `kubectl describe pvc elasticsearch-backup` command?

[2021-08-25 08:22] JayChanggithub opened #775 "Deployment CSI driver but can not work"
I plan to deploy the azure CSI for supporting StorageClass objects within my own kubernetes cluster(not AKS). And i follow up
the [docs](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/read-from-secret.md) that i confuse this step **`"specify different cloud config secret in driver deployment"`** whats mean in this ?. And i already create azure.json and generate the secret

[2021-08-25 08:35] gmcbrien commented on #774
`kubectl describe pvc elasticsearch-backup` produces the same result as above (`Capacity:  1Ki`)

I also updated my `oc` client  to 4.7.13. No change there either.